<!-- ЛОГИН ФОРМА -->

<div class="sm:bg-bk-1">
  <div
    class="py-8 container min-h-screen w-full sm:grid grid-cols-12 gap-[1.125rem] items-center flex justify-center"
  >
    <div
      class="login py-[3.125rem] relative bg-w10 sm:px-10 rounded-small col-start-4 col-span-6"
    >
      <div class="max-w-[430px] mx-auto">
        <div class="flex flex-col gap-6 sm:gap-11 mb-10 items-center">
          <img
            src="https://edu.svet-expert.com/include/landing/img/logo.png"
            class="w-7 h-auto sm:w-[4.375rem]"
          />
          <h1 class="text-24sb sm:text-32sb">Вход в профиль</h1>
        </div>
        <form action="" class="flex flex-col">
          <div class="gap-5 flex flex-col mb-6 sm:mb-8">
            <label class="input input--email hovered-line-anim">
              <span class="input__title">Логин</span>
              <input class="input__item text-17" type="text" />
            </label>
            <label class="input input--password hovered-line-anim">
              <span class="input__title">Пароль</span>
              <input class="input__item text-17 pr-6" type="password" />
              <div
                class="w-6 h-6 absolute bottom-3 right-0 cursor-pointer show-pass"
              >
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_2011_4573)">
                    <path
                      d="M10 12C10 12.5304 10.2107 13.0391 10.5858 13.4142C10.9609 13.7893 11.4696 14 12 14C12.5304 14 13.0391 13.7893 13.4142 13.4142C13.7893 13.0391 14 12.5304 14 12C14 11.4696 13.7893 10.9609 13.4142 10.5858C13.0391 10.2107 12.5304 10 12 10C11.4696 10 10.9609 10.2107 10.5858 10.5858C10.2107 10.9609 10 11.4696 10 12Z"
                      stroke="black"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M21 12C18.6 16 15.6 18 12 18C8.4 18 5.4 16 3 12C5.4 8 8.4 6 12 6C15.6 6 18.6 8 21 12Z"
                      stroke="black"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_2011_4573">
                      <rect width="24" height="24" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
              </div>
            </label>
          </div>
          <a
            href="#"
            class="text-15m sm:text-17m mb-12 sm:mb-10 block border-b border-solid pb-[1px] border-[#0631AE] w-fit"
          >
            <span>Не помню пароль</span>
          </a>
          <div
            class="flex gap-2 items-center bg-r-2 rounded-[0.5rem] p-2 mb-3 sm:mb-5"
          >
            <svg
              class="w-6 h-6"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_2002_5436)">
                <path
                  d="M3 12C3 13.1819 3.23279 14.3522 3.68508 15.4442C4.13738 16.5361 4.80031 17.5282 5.63604 18.364C6.47177 19.1997 7.46392 19.8626 8.55585 20.3149C9.64778 20.7672 10.8181 21 12 21C13.1819 21 14.3522 20.7672 15.4442 20.3149C16.5361 19.8626 17.5282 19.1997 18.364 18.364C19.1997 17.5282 19.8626 16.5361 20.3149 15.4442C20.7672 14.3522 21 13.1819 21 12C21 9.61305 20.0518 7.32387 18.364 5.63604C16.6761 3.94821 14.3869 3 12 3C9.61305 3 7.32387 3.94821 5.63604 5.63604C3.94821 7.32387 3 9.61305 3 12Z"
                  stroke="#161616"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M12.0098 16L11.9998 16"
                  stroke="#161616"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M12.0098 13L12.0098 9"
                  stroke="#161616"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </g>
              <defs>
                <clipPath id="clip0_2002_5436">
                  <rect width="24" height="24" fill="white" />
                </clipPath>
              </defs>
            </svg>
            <span class="text-12 text-bk-10">Неверный логин или пароль</span>
          </div>
          <button class="button button--primary mb-3">
            <span>Войти</span>
          </button>
          <button class="button button--secondary mb-6 sm:mb-10">
            <span>Получить демо-доступ</span>
          </button>
          <a href="#" class="mx-auto"><span>Поддержка</span></a>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- ФОРМА ДЕМО -->

<div class="sm:bg-bk-1">
  <div
    class="py-8 container min-h-screen w-full sm:grid grid-cols-12 gap-[1.125rem] items-center flex justify-center"
  >
    <div
      class="login py-[3.125rem] relative bg-w10 sm:px-10 rounded-small col-start-4 col-span-6"
    >
      <button
        class="flex items-center gap-2 text-17m mb-4 sm:absolute top-10 left-[1.875rem]"
        onclick="history.back()"
      >
        <svg
          class="w-6 h-6"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15.0005 6.71173C15.3905 7.10173 15.3905 7.73173 15.0005 8.12173L11.1205 12.0017L15.0005 15.8817C15.3905 16.2717 15.3905 16.9017 15.0005 17.2917C14.6105 17.6817 13.9805 17.6817 13.5905 17.2917L9.00047 12.7017C8.61047 12.3117 8.61047 11.6817 9.00047 11.2917L13.5905 6.70173C13.9705 6.32173 14.6105 6.32173 15.0005 6.71173Z"
            fill="#161616"
          />
        </svg>
        <span>Назад</span>
      </button>
      <div class="max-w-[430px] mx-auto">
        <div class="flex flex-col gap-6 sm:gap-11 mb-10 items-center">
          <img
            src="https://edu.svet-expert.com/include/landing/img/logo.png"
            class="w-7 h-auto sm:w-[4.375rem]"
          />
          <h1 class="text-24sb text-center sm:text-32sb">
            Запрос на демо доступ
          </h1>
        </div>
        <form action="" class="flex flex-col">
          <div class="gap-5 flex flex-col mb-6 sm:mb-8">
            <label class="input input--name hovered-line-anim">
              <span class="input__title">Имя</span>
              <input class="input__item text-17" type="text" />
            </label>
            <label class="input input--name2 hovered-line-anim">
              <span class="input__title">Фамилия</span>
              <input class="input__item text-17" type="text" />
            </label>
            <label class="input input--email hovered-line-anim">
              <span class="input__title">Электронная почта</span>
              <input class="input__item text-17" type="text" />
            </label>
          </div>
          <button class="button button--primary mb-3 sm:mb-[0.875rem]">
            <span> Отправить запрос </span>
          </button>
          <p class="text-[#AAACC4] custom-checkbox__text mb-10">
            Нажимая “Отправить”
            <a href="#" class="text-be-10"
              >вы соглашаетесь <br class="sm:hidden" />с обработкой персональных
              данных</a
            >
          </p>
          <div
            class="text-15m sm:text-17m mb-6 sm:mb-[1.875rem] flex items-center gap-1 mx-auto h-fit"
          >
            <span>Уже есть аккаунт?</span>
            <a
              href="#"
              class="block border-b border-solid pb-[1px] border-[#0631AE] w-fit"
            >
              <span>Войдите</span>
            </a>
          </div>

          <a href="#" class="mx-auto"><span>Поддержка</span></a>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- ОБРАБОТКА ДЕМО -->

<div class="sm:bg-bk-1">
  <div
    class="py-8 container min-h-screen w-full sm:grid grid-cols-12 gap-[1.125rem] items-center flex justify-center"
  >
    <div
      class="login py-[3.125rem] relative bg-w10 sm:px-10 rounded-small col-start-4 col-span-6"
    >
      <button
        class="flex items-center gap-2 text-17m mb-4 sm:absolute top-10 left-[1.875rem]"
        onclick="history.back()"
      >
        <svg
          class="w-6 h-6"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15.0005 6.71173C15.3905 7.10173 15.3905 7.73173 15.0005 8.12173L11.1205 12.0017L15.0005 15.8817C15.3905 16.2717 15.3905 16.9017 15.0005 17.2917C14.6105 17.6817 13.9805 17.6817 13.5905 17.2917L9.00047 12.7017C8.61047 12.3117 8.61047 11.6817 9.00047 11.2917L13.5905 6.70173C13.9705 6.32173 14.6105 6.32173 15.0005 6.71173Z"
            fill="#161616"
          />
        </svg>
        <span>Назад</span>
      </button>
      <div class="max-w-[430px] mx-auto">
        <div class="flex flex-col gap-6 sm:gap-11 mb-10 items-center">
          <img
            src="https://edu.svet-expert.com/include/landing/img/logo.png"
            class="w-7 h-auto sm:w-[4.375rem]"
          />
          <h1 class="text-24sb text-center sm:text-32sb">
            Запрос на демо доступ
          </h1>
        </div>
        <div action="" class="flex flex-col">
          <div
            class="gap-5 flex flex-col mb-6 sm:mb-8 text-15m sm:text-17m text-center text-bk-7"
          >
            Ваша заявка отправлена и будет принята в ближайшее время, мы
            отправим вам <br />
            сообщение на почту
          </div>
          <a href="/" class="button button--primary mb-3 sm:mb-[0.875rem]">
            <span> Вернуться на главную </span>
          </a>

          <div
            class="text-15m sm:text-17m mb-6 sm:mb-[1.875rem] flex items-center gap-1 mx-auto h-fit"
          >
            <span>Уже есть аккаунт?</span>
            <a
              href="#"
              class="block border-b border-solid pb-[1px] border-[#0631AE] w-fit"
            >
              <span>Войдите</span>
            </a>
          </div>

          <a href="#" class="mx-auto"><span>Поддержка</span></a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Восстановление пароля -->

<div class="sm:bg-bk-1">
  <div
    class="py-8 container min-h-screen w-full sm:grid grid-cols-12 gap-[1.125rem] items-center flex justify-center"
  >
    <div
      class="login py-[3.125rem] relative bg-w10 sm:px-10 rounded-small col-start-4 col-span-6"
    >
      <button
        class="flex items-center gap-2 text-17m mb-4 sm:absolute top-10 left-[1.875rem]"
        onclick="history.back()"
      >
        <svg
          class="w-6 h-6"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15.0005 6.71173C15.3905 7.10173 15.3905 7.73173 15.0005 8.12173L11.1205 12.0017L15.0005 15.8817C15.3905 16.2717 15.3905 16.9017 15.0005 17.2917C14.6105 17.6817 13.9805 17.6817 13.5905 17.2917L9.00047 12.7017C8.61047 12.3117 8.61047 11.6817 9.00047 11.2917L13.5905 6.70173C13.9705 6.32173 14.6105 6.32173 15.0005 6.71173Z"
            fill="#161616"
          />
        </svg>
        <span>Назад</span>
      </button>
      <div class="max-w-[430px] mx-auto">
        <div class="flex flex-col gap-6 sm:gap-11 mb-10 items-center">
          <img
            src="https://edu.svet-expert.com/include/landing/img/logo.png"
            class="w-7 h-auto sm:w-[4.375rem]"
          />
          <h1 class="text-24sb text-center sm:text-32sb">
            Восстановление пароля
          </h1>
        </div>
        <div class="text-15m sm:text-17m text-bk-7 mb-12 sm:mb-10 text-center">
          Отправим ссылку на восстановление вам на почту
        </div>
        <form action="" class="flex flex-col">
          <div class="gap-5 flex flex-col mb-6 sm:mb-8">
            <label class="input input--email hovered-line-anim">
              <span class="input__title">Электронная почта</span>
              <input class="input__item text-17" type="text" />
            </label>
          </div>
          <button class="button button--primary mb-3 sm:mb-[0.875rem]">
            <span> Далее </span>
          </button>
          <p class="text-[#AAACC4] custom-checkbox__text mb-10">
            Нажимая “Отправить”
            <a href="#" class="text-be-10"
              >вы соглашаетесь <br class="sm:hidden" />с обработкой персональных
              данных</a
            >
          </p>
          <div
            class="text-15m sm:text-17m mb-6 sm:mb-[1.875rem] flex items-center gap-1 mx-auto h-fit"
          >
            <span>Уже есть аккаунт?</span>
            <a
              href="#"
              class="block border-b border-solid pb-[1px] border-[#0631AE] w-fit"
            >
              <span>Войдите</span>
            </a>
          </div>

          <a href="#" class="mx-auto"><span>Поддержка</span></a>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Восстановление пароля -->

<div class="sm:bg-bk-1">
  <div
    class="py-8 container min-h-screen w-full sm:grid grid-cols-12 gap-[1.125rem] items-center flex justify-center"
  >
    <div
      class="login py-[3.125rem] relative bg-w10 sm:px-10 rounded-small col-start-4 col-span-6"
    >
      <button
        class="flex items-center gap-2 text-17m mb-4 sm:absolute top-10 left-[1.875rem]"
        onclick="history.back()"
      >
        <svg
          class="w-6 h-6"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15.0005 6.71173C15.3905 7.10173 15.3905 7.73173 15.0005 8.12173L11.1205 12.0017L15.0005 15.8817C15.3905 16.2717 15.3905 16.9017 15.0005 17.2917C14.6105 17.6817 13.9805 17.6817 13.5905 17.2917L9.00047 12.7017C8.61047 12.3117 8.61047 11.6817 9.00047 11.2917L13.5905 6.70173C13.9705 6.32173 14.6105 6.32173 15.0005 6.71173Z"
            fill="#161616"
          />
        </svg>
        <span>Назад</span>
      </button>
      <div class="max-w-[430px] mx-auto">
        <div class="flex flex-col gap-6 sm:gap-11 mb-10 items-center">
          <img
            src="https://edu.svet-expert.com/include/landing/img/logo.png"
            class="w-7 h-auto sm:w-[4.375rem]"
          />
          <h1 class="text-24sb text-center sm:text-32sb">
            Восстановление пароля
          </h1>
        </div>
        <div class="text-15m sm:text-17m text-bk-7 mb-12 sm:mb-10 text-center">
          Отправили ссылку на создание нового пароля на
          <span>grecheskiy.salat@yandex.ru</span>
        </div>
        <form action="" class="flex flex-col">
          <div
            class="mb-3 sm:mb-[0.875rem] text-center timer__container text-[#AAACC4] text-12 sm:text-17m"
          >
            Отправить повторно через: <span class="timer">59</span>
          </div>
          <button class="button button--primary mb-3 sm:mb-[0.875rem]" disabled>
            <span> Далее </span>
          </button>
          <p class="text-[#AAACC4] custom-checkbox__text mb-10">
            Нажимая “Отправить”
            <a href="#" class="text-be-10"
              >вы соглашаетесь <br class="sm:hidden" />с обработкой персональных
              данных</a
            >
          </p>
          <div
            class="text-15m sm:text-17m mb-6 sm:mb-[1.875rem] flex items-center gap-1 mx-auto h-fit"
          >
            <span>Уже есть аккаунт?</span>
            <a
              href="#"
              class="block border-b border-solid pb-[1px] border-[#0631AE] w-fit"
            >
              <span>Войдите</span>
            </a>
          </div>

          <a href="#" class="mx-auto"><span>Поддержка</span></a>
        </form>
      </div>
    </div>
  </div>
</div>
