<div class="flex flex-col gap-[8.75rem] sm:gap-[12.5rem]">
  <section class="container" data-scroll-section>
    <div
      class="px-4 mb-6 pt-[1.6875rem] pb-[0.5625rem] sm:p-6 sm:pt-8 h-[143.0555555555556vw] max-h-[515px] sm:h-[46.125rem] sm:max-h-[738px] rounded-small relative bg-center bg-cover bg-no-repeat"
      style="background-image: url('../../../public/mainpimg--desk.jpg')"
    >
      <div
        class="bg-lg absolute top-0 left-0 right-0 bottom-0 rounded-small sm:hidden"
      ></div>

      <div class="flex flex-col h-full relative">
        <h1
          class="text-27sb mb-4 sm:text-60sb text-w10 sm:ml-2 sm:max-w-[46.9375rem]"
        >
          Станьте востребованным специалистом
        </h1>
        <p
          class="text-14 text-bk-2 sm:text-17 mr-4 sm:mr-0 sm:ml-2 sm:max-w-[29.75rem]"
        >
          Мы предлагаем широкий спектр программ и курсов, разработанных опытными
          преподавателями и профессионалами в данной области.
        </p>
        <a href="#" class="button button--big mt-auto mx-[0.375rem] sm:mx-0"
          ><span>Записаться на пробный урок</span></a
        >
      </div>
    </div>
    <div class="sm:flex gap-cols">
      <div
        class="flex-1 p-6 mb-2 sm:mb-0 bg-dc-3 h-[269px] sm:h-[30.375rem] flex flex-col justify-between rounded-small"
      >
        <h5 class="text-24m sm:text-40sb text-be-10">Наша миссия</h5>
        <p class="text-14 sm:text-17 text-bk-8 max-w-[30.75rem]">
          Формирование сообщества профессионалов в светодизайне и светотехнике,
          готовых реализовать проекты освещения, которые в лучшую сторону
          изменят окружающую реальность и световой облик зданий и целых городов
        </p>
      </div>
      <div class="flex-1 h-[271px] sm:h-[30.375rem] min-w-0 min-h-0">
        <div class="swiper slider rounded-small h-full" id="ourMission">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img
                src="/public/pat.jpg"
                alt=""
                class="object-cover h-full w-full rounded-small"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="/public/pat.jpg"
                alt=""
                class="object-cover h-full w-full rounded-small"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="/public/pat.jpg"
                alt=""
                class="object-cover h-full w-full rounded-small"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="/public/pat.jpg"
                alt=""
                class="object-cover h-full w-full rounded-small"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="/public/pat.jpg"
                alt=""
                class="object-cover h-full w-full rounded-small"
              />
            </div>
          </div>
          <div class="slider-pag">
            <div class="slider-pag__container swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container" data-scroll-section>
    <div class="sm:grid grid-cols-12 gap-x-[1.125rem] mb-10 sm:mb-16">
      <h2
        class="text-27sb sm:text-56sb mb-5 sm:mb-0 h-fit col-span-6 text-be-10"
      >
        Программы обучения
      </h2>
      <p class="text-14 sm:text-20 text-bk-8 mr-8 sm:mr-11 col-span-6">
        Школа предлагает более 10 программ обучения, включая архитектурный
        светодизайн и проектное управление. Выберите направление и уровень
        обучения под свои потребности.
      </p>
    </div>
    <div class="grid-net">
      <a
        href="#"
        class="grid-net__el bg-dc-3 bg-cover bg-c bg-no-repeat"
        style="background-image: url('../../../public/arch-o.jpg')"
        data-modal="#archOs"
      >
        <div>
          <h4 class="grid-net__el__title">
            Архитектурное <br />
            освещение
          </h4>
          <div class="button button--tertiary">Узнать подробнее</div>
        </div>
        <div class="grid-net__el__inf !text-[#E3E3E3]">6 месяцев</div>
      </a>
      <a
        href="#"
        class="grid-net__el bg-dc-v bg-cover bg-c bg-no-repeat"
        style="background-image: url('../../../public/land-o.jpg')"
        data-modal="#archOs"
      >
        <div>
          <h4 class="grid-net__el__title">
            Ландшафтное <br />
            освещение
          </h4>
          <div class="button button--tertiary">Узнать подробнее</div>
        </div>
        <div class="grid-net__el__inf">6 месяцев</div>
      </a>
      <a
        href="#"
        data-modal="#archOs"
        class="grid-net__el bg-dc-y bg-cover bg-c bg-no-repeat"
      >
        <div>
          <h4 class="grid-net__el__title">
            Введение в профессию Светодизайнер
          </h4>
          <div class="button button--tertiary">Узнать подробнее</div>
        </div>
        <div class="grid-net__el__inf">Бесплатно</div>
      </a>
    </div>
  </section>

  <section data-scroll-section class="container">
    <h2 class="text-27sb sm:text-40sb mb-6 sm:mb-[6.25rem] text-be-10">
      Как проходит обучение <br />
      в Angel School?
    </h2>
    <p class="text-14 sm:hidden mb-10">
      Школа предлагает более 10 программ обучения, включая архитектурный
      светодизайн и проектное управление. Выберите направление и уровень
      обучения под свои потребности. Особое
    </p>

    <ul class="list">
      <li class="list__el">
        <span class="list__el__count">1</span>
        <h5 class="list__el__title">Лекции</h5>
        <p class="list__el__desc">
          Лекции – видео с презентацией и обзорами проектов компании.
          Тестирование включает выбор вариантов, сопоставление, ввод ответа и
          установление последовательности.
        </p>
      </li>
      <li class="list__el">
        <span class="list__el__count">2</span>
        <h5 class="list__el__title">Практика</h5>
        <p class="list__el__desc">
          Photoshop: видеопрактика с комментариями и алгоритмом от
          преподавателя, завершаемая тестированием — добавление надписей,
          выделение областей и последовательные действия.
        </p>
      </li>
      <li class="list__el">
        <span class="list__el__count">3</span>
        <h5 class="list__el__title">Самостоятельная работа</h5>
        <p class="list__el__desc">
          Проект и воркшопы включают индивидуальное создание вечерней
          визуализации с подсветкой для указанного объекта (здание/территория).
          Результатом является готовая вечерняя визуализация.
        </p>
      </li>
      <li class="list__el">
        <span class="list__el__count">4</span>
        <h5 class="list__el__title">Консультация</h5>
        <p class="list__el__desc">
          Групповые и индивидуальные консультации входят в пакет или за
          отдельную плату. Включают чат для вопросов и вебинар, где
          преподаватель отвечает, а участники могут выходить эфир для уточнений.
        </p>
      </li>
    </ul>
  </section>

  <section data-scroll-section class="">
    <div
      class="mb-10 sm:mb-[2.875rem] sm:grid grid-cols-12 gap-x-cols container"
    >
      <h2 class="col-span-5 text-27sb sm:text-40sb text-be-10">
        Наши преподователи
      </h2>
      <div class="col-span-5 col-start-8 sm:flex hidden">
        <a href="#" class="button button--primary ml-auto h-fit">
          <span>Пройти консультацию</span>
        </a>
      </div>
    </div>
    <div class="slider--v2" id="teachers">
      <div class="swiper container overflow-visible">
        <div class="swiper-wrapper">
          <div
            class="swiper-slide teachers-slide"
            style="--bg: url('../../../public/kok.jpg')"
          >
            <a href="#" class="teachers-slide__button"> </a>
            <div class="teachers-slide__info">
              <div class="teachers-slide__info__cotnainer">
                <div class="teachers-slide__info__heading">
                  <div class="teachers-slide__info__img"></div>
                  <div>
                    <h6 class="teachers-slide__info__title">
                      Крымская Екатерина
                    </h6>
                    <p class="teachers-slide__info__subtitle">
                      Генеральный директор международной технической компании
                      «SvetExpert»
                    </p>
                  </div>
                </div>
                <div class="teachers-slide__info__desk">
                  <p>
                    Крымская Екатерина – выдающийся российский предприниматель и
                    инженер, занимающая должность Генерального директора в
                    международной технической компании «SvetExpert». Она
                    обладает богатым опытом в области разработки и внедрения
                    инновационных технологий в сфере освещения.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="swiper-slide teachers-slide"
            style="--bg: url('../../../public/kok.jpg')"
          >
            <a href="#" class="teachers-slide__button"> </a>
            <div class="teachers-slide__info">
              <div class="teachers-slide__info__cotnainer">
                <div class="teachers-slide__info__heading">
                  <div class="teachers-slide__info__img"></div>
                  <div>
                    <h6 class="teachers-slide__info__title">
                      Крымская Екатерина
                    </h6>
                    <p class="teachers-slide__info__subtitle">
                      Генеральный директор международной технической компании
                      «SvetExpert»
                    </p>
                  </div>
                </div>
                <div class="teachers-slide__info__desk">
                  <p>
                    Крымская Екатерина – выдающийся российский предприниматель и
                    инженер, занимающая должность Генерального директора в
                    международной технической компании «SvetExpert». Она
                    обладает богатым опытом в области разработки и внедрения
                    инновационных технологий в сфере освещения.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="swiper-slide teachers-slide"
            style="--bg: url('../../../public/kok.jpg')"
          >
            <a href="#" class="teachers-slide__button"> </a>
            <div class="teachers-slide__info">
              <div class="teachers-slide__info__cotnainer">
                <div class="teachers-slide__info__heading">
                  <div class="teachers-slide__info__img"></div>
                  <div>
                    <h6 class="teachers-slide__info__title">
                      Крымская Екатерина
                    </h6>
                    <p class="teachers-slide__info__subtitle">
                      Генеральный директор международной технической компании
                      «SvetExpert»
                    </p>
                  </div>
                </div>
                <div class="teachers-slide__info__desk">
                  <p>
                    Крымская Екатерина – выдающийся российский предприниматель и
                    инженер, занимающая должность Генерального директора в
                    международной технической компании «SvetExpert». Она
                    обладает богатым опытом в области разработки и внедрения
                    инновационных технологий в сфере освещения.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="slider--v2__controls container sm:hidden justify-between flex items-center mt-6"
      >
        <div class="slider-buttons">
          <div
            class="slider-button slider-button--v2 slider-button--mob slider-button-prev"
          >
            <svg
              xmlns="https://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M20 12L5 12"
                stroke="#061143"
                stroke-width="1.4"
                stroke-linecap="round"
              />
              <path
                d="M9 17C9 17 4.5 12.2279 4.5 12C4.5 11.7721 9 7 9 7"
                stroke="#061143"
                stroke-width="1.4"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <div
            class="slider-button slider-button--v2 slider-button--mob slider-button-next"
          >
            <svg
              xmlns="https://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M4 12L19 12"
                stroke="#061143"
                stroke-width="1.4"
                stroke-linecap="round"
              />
              <path
                d="M15 7C15 7 19.5 11.7721 19.5 12C19.5 12.2279 15 17 15 17"
                stroke="#061143"
                stroke-width="1.4"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
        <div class="swiper-pagination slider--v2__pag"></div>
      </div>
    </div>
    <div class="container hidden sm:grid grid-cols-12 gap-x-cols mt-6">
      <p class="col-span-4 col-start-9 text-17">
        Эксперты Angel’s School — признанные профессионалы в светодизайне и
        светотехнике, активно следящие за мировыми трендами в своей области и в
        образовании. Они успешно применяют свой опыт на практике, являясь
        вдохновляющими лидерами и поддерживая современные стандарты в обучающей
        среде.
      </p>
    </div>
  </section>

  <section data-scroll-section class="container portfolio">
    <h2 class="text-27sb sm:text-56sb mb-10 sm:mb-14 text-be-10">
      Проекты в портфолио
    </h2>
    <div class="mb-2 sm:mb-6 sm:grid sm:grid-cols-12 gap-x-[1.125rem]">
      <div
        class="portfolio-desc flex flex-col p-6 sm:pr-16 rounded-small bg-dc-3 sm:h-full mb-2 sm:mb-0 col-start-8 col-span-5"
      >
        <div class="portfolio-desc__slider">
          <div class="portfolio-desc__slide active">
            <h2 class="text-be-10 text-24m sm:text-40sb">Проект здания</h2>
            <p class="text-14 sm:text-17 mt-16 sm:my-8">
              За время обучения слушатели разрабатывают и реализуют проекты
              освещения зданий и участвуют в разработке концепций освещения
              целых городов (совместно с экспертами).
            </p>
          </div>
          <div class="portfolio-desc__slide">
            <h2 class="text-be-10 text-24m sm:text-40sb">Проект здания</h2>
            <p class="text-14 sm:text-17 mt-16 sm:my-8">
              За время обучения слушатели разрабатывают и реализуют проекты
              освещения зданий и участвуют в разработке концепций освещения
              целых городов (совместно с экспертами).
            </p>
          </div>
          <div class="portfolio-desc__slide">
            <h2 class="text-be-10 text-24m sm:text-40sb">Проект здания</h2>
            <p class="text-14 sm:text-17 mt-16 sm:my-8">
              За время обучения слушатели разрабатывают и реализуют проекты
              освещения зданий и участвуют в разработке концепций освещения
              целых городов (совместно с экспертами).
            </p>
          </div>
          <div class="portfolio-desc__slide">
            <h2 class="text-be-10 text-24m sm:text-40sb">Проект здания</h2>
            <p class="text-14 sm:text-17 mt-16 sm:my-8">
              За время обучения слушатели разрабатывают и реализуют проекты
              освещения зданий и участвуют в разработке концепций освещения
              целых городов (совместно с экспертами).
            </p>
          </div>
          <div class="portfolio-desc__slide">
            <h2 class="text-be-10 text-24m sm:text-40sb">Проект здания</h2>
            <p class="text-14 sm:text-17 mt-16 sm:my-8">
              За время обучения слушатели разрабатывают и реализуют проекты
              освещения зданий и участвуют в разработке концепций освещения
              целых городов (совместно с экспертами).
            </p>
          </div>
        </div>
        <div class="slider-buttons mt-16 sm:mt-auto">
          <div class="slider-button swiper-button-prev slider-button-prev">
            <svg
              xmlns="https://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M20 12L5 12"
                stroke="#061143"
                stroke-width="1.4"
                stroke-linecap="round"
              />
              <path
                d="M9 17C9 17 4.5 12.2279 4.5 12C4.5 11.7721 9 7 9 7"
                stroke="#061143"
                stroke-width="1.4"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <div class="slider-button swiper-button-next slider-button-next">
            <svg
              xmlns="https://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M4 12L19 12"
                stroke="#061143"
                stroke-width="1.4"
                stroke-linecap="round"
              />
              <path
                d="M15 7C15 7 19.5 11.7721 19.5 12C19.5 12.2279 15 17 15 17"
                stroke="#061143"
                stroke-width="1.4"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="min-w-0 min-h-0 col-span-7 row-start-1">
        <div
          class="swiper h-[271px] sm:min-h-[29.625rem] sm:h-full slider rounded-small slider-width-text"
          data-text="portfolio-desc"
          id="ourPortfolio"
        >
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img
                src="/public/pat.jpg"
                alt=""
                class="object-cover h-full w-full rounded-small"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="/public/pat.jpg"
                alt=""
                class="object-cover h-full w-full rounded-small"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="/public/pat.jpg"
                alt=""
                class="object-cover h-full w-full rounded-small"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="/public/pat.jpg"
                alt=""
                class="object-cover h-full w-full rounded-small"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="/public/pat.jpg"
                alt=""
                class="object-cover h-full w-full rounded-small"
              />
            </div>
          </div>
          <div class="slider-pag">
            <div class="slider-pag__container swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="button button--big mt-auto"
      ><span>Записаться на пробный урок</span></a
    >
  </section>

  <section data-scroll-section class="container flex">
    <a
      href="#"
      class="rounded-small welcome-block py-10 px-[1.625rem] text-center sm:text-left sm:p-[2.1875rem] block w-80 sm:w-full m-auto sm:m-0 sm:pb-[3.25rem] sm:flex flex-col"
    >
      <h2 class="text-27sb mb-3 text-be-10">Приходите учиться</h2>
      <p class="text-14">
        Подберем подходящий курс и ответим <br />
        на любые вопросы
      </p>
      <div class="button button--primary !hidden sm:!flex mt-auto w-fit">
        <span>Позвоните мне</span>
      </div>
    </a>
  </section>

  <section data-scroll-section class="">
    <div
      class="mb-10 sm:mb-[2.875rem] sm:grid grid-cols-12 gap-x-cols container"
    >
      <h2 class="col-span-5 text-27sb sm:text-56sb text-be-10 mb-6 sm:mb-0">
        Трудоустройство выпускника
      </h2>
      <p class="col-span-5 col-start-8 text-14 sm:text-17 sm:mt-3">
        В нашей школе вы взаимодействуете с ведущими световыми дизайнерами,
        погружаясь в реальные задачи этой творческой сферы и осваивая передовые
        технологии освещения.
      </p>
    </div>
    <div class="slider--v2 swiper--auto-slides" id="employument">
      <div class="swiper container overflow-visible">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div
              class="rounded-full p-[0.625rem] w-8 h-8 sm:w-fit sm:h-fit bg-be-10 mb-5 sm:mb-8"
            >
              <svg
                class="w-9 h-9 hidden sm:block"
                viewBox="0 0 36 36"
                fill="none"
                xmlns="https://www.w3.org/2000/svg"
              >
                <path
                  d="M20.3099 2.28993L22.2913 19.1389C22.3735 19.8288 22.6918 20.4566 23.1787 20.8815L35.0736 31.2516C37.2279 33.1303 35.2781 36.9546 32.7655 35.7801L18.8892 29.2989C18.32 29.0339 17.6813 29.0339 17.1122 29.2989L3.23587 35.7801C0.721147 36.9546 -1.22866 33.1303 0.927719 31.2516L12.8226 20.8815C13.3095 20.4566 13.6299 19.8312 13.71 19.1389L15.6915 2.28993C16.0519 -0.763311 19.9515 -0.763311 20.3099 2.28993Z"
                  fill="white"
                />
              </svg>
            </div>
            <h5 class="text-17m sm:text-24sb text-be-10 mb-4 sm:mb-5">
              Профессиональное сообщество <br class="hidden sm:block" />
              <span class="text-be-6">для выпускников</span>
            </h5>
            <p class="text-14 sm:text-17">
              HR-специалисты поддерживают вас в трудоустройстве: помощь с
              резюме, поиск вакансий, репетиции собеседований.
            </p>
          </div>
          <div class="swiper-slide">
            <div
              class="rounded-full p-[0.625rem] w-8 h-8 sm:w-fit sm:h-fit bg-be-10 mb-5 sm:mb-8"
            >
              <svg
                class="w-9 h-9 hidden sm:block"
                viewBox="0 0 36 36"
                fill="none"
                xmlns="https://www.w3.org/2000/svg"
              >
                <path
                  d="M20.3099 2.28993L22.2913 19.1389C22.3735 19.8288 22.6918 20.4566 23.1787 20.8815L35.0736 31.2516C37.2279 33.1303 35.2781 36.9546 32.7655 35.7801L18.8892 29.2989C18.32 29.0339 17.6813 29.0339 17.1122 29.2989L3.23587 35.7801C0.721147 36.9546 -1.22866 33.1303 0.927719 31.2516L12.8226 20.8815C13.3095 20.4566 13.6299 19.8312 13.71 19.1389L15.6915 2.28993C16.0519 -0.763311 19.9515 -0.763311 20.3099 2.28993Z"
                  fill="white"
                />
              </svg>
            </div>
            <h5 class="text-17m sm:text-24sb text-be-10 mb-4 sm:mb-5">
              Предложение о трудоустройстве
              <br class="hidden sm:block" />
              для <span class="text-be-6">лучших выпускников</span>
            </h5>
            <p class="text-14 sm:text-17">
              Наши успешные выпускники приветствуются в нашей компании с
              предложением о трудоустройстве, подчеркивая признание их
              достижений.
            </p>
          </div>
          <div class="swiper-slide">
            <div
              class="rounded-full p-[0.625rem] w-8 h-8 sm:w-fit sm:h-fit bg-be-10 mb-5 sm:mb-8"
            >
              <svg
                class="w-9 h-9 hidden sm:block"
                viewBox="0 0 36 36"
                fill="none"
                xmlns="https://www.w3.org/2000/svg"
              >
                <path
                  d="M20.3099 2.28993L22.2913 19.1389C22.3735 19.8288 22.6918 20.4566 23.1787 20.8815L35.0736 31.2516C37.2279 33.1303 35.2781 36.9546 32.7655 35.7801L18.8892 29.2989C18.32 29.0339 17.6813 29.0339 17.1122 29.2989L3.23587 35.7801C0.721147 36.9546 -1.22866 33.1303 0.927719 31.2516L12.8226 20.8815C13.3095 20.4566 13.6299 19.8312 13.71 19.1389L15.6915 2.28993C16.0519 -0.763311 19.9515 -0.763311 20.3099 2.28993Z"
                  fill="white"
                />
              </svg>
            </div>
            <h5 class="text-17m sm:text-24sb text-be-10 mb-4 sm:mb-5">
              Ценные
              <span class="text-be-6"
                >рекомендательные <br class="hidden sm:block" />
                письма
              </span>
            </h5>
            <p class="text-14 sm:text-17">
              Слушатели, завершившие курсы, получают ценные рекомендации,
              улучшающие их шансы на трудоустройство.
            </p>
          </div>
          <div class="swiper-slide">
            <div
              class="rounded-full p-[0.625rem] w-8 h-8 sm:w-fit sm:h-fit bg-be-10 mb-5 sm:mb-8"
            >
              <svg
                class="w-9 h-9 hidden sm:block"
                viewBox="0 0 36 36"
                fill="none"
                xmlns="https://www.w3.org/2000/svg"
              >
                <path
                  d="M20.3099 2.28993L22.2913 19.1389C22.3735 19.8288 22.6918 20.4566 23.1787 20.8815L35.0736 31.2516C37.2279 33.1303 35.2781 36.9546 32.7655 35.7801L18.8892 29.2989C18.32 29.0339 17.6813 29.0339 17.1122 29.2989L3.23587 35.7801C0.721147 36.9546 -1.22866 33.1303 0.927719 31.2516L12.8226 20.8815C13.3095 20.4566 13.6299 19.8312 13.71 19.1389L15.6915 2.28993C16.0519 -0.763311 19.9515 -0.763311 20.3099 2.28993Z"
                  fill="white"
                />
              </svg>
            </div>
            <h5 class="text-17m sm:text-24sb text-be-10 mb-4 sm:mb-5">
              Поддержка наших <br />
              <span class="text-be-6">HR-специалистов</span>
            </h5>
            <p class="text-14 sm:text-17">
              HR-специалисты поддерживают вас в трудоустройстве: помощь с
              резюме, поиск вакансий, репетиции собеседований.
            </p>
          </div>
        </div>
      </div>
      <div
        class="slider--v2__controls container sm:hidden justify-between flex items-center mt-6"
      >
        <div class="slider-buttons">
          <div
            class="slider-button slider-button--v2 slider-button--mob slider-button-prev"
          >
            <svg
              xmlns="https://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M20 12L5 12"
                stroke="#061143"
                stroke-width="1.4"
                stroke-linecap="round"
              />
              <path
                d="M9 17C9 17 4.5 12.2279 4.5 12C4.5 11.7721 9 7 9 7"
                stroke="#061143"
                stroke-width="1.4"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <div
            class="slider-button slider-button--v2 slider-button--mob slider-button-next"
          >
            <svg
              xmlns="https://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M4 12L19 12"
                stroke="#061143"
                stroke-width="1.4"
                stroke-linecap="round"
              />
              <path
                d="M15 7C15 7 19.5 11.7721 19.5 12C19.5 12.2279 15 17 15 17"
                stroke="#061143"
                stroke-width="1.4"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
        <div class="swiper-pagination slider--v2__pag"></div>
      </div>
    </div>
  </section>

  <section data-scroll-section class="container">
    <h2 class="mb-10 sm:mb-20 text-27sb sm:text-48m text-be-10">
      Кому подойдут <br class="sm:hidden" />
      наши курсы
    </h2>
    <div class="flex flex-col gap-3 lg:grid lg:grid-cols-12 lg:gap-cols">
      <div
        class="rounded-small flex flex-col gap-8 bg-dc-3 p-4 sm:p-6 sm:gap-[7.125rem] sm:col-span-4"
      >
        <h5 class="text-be-10 text-17 sm:text-32sb">Студентам</h5>
        <p class="text-14 sm:text-17">
          Синтересом к светотехнике и архитектуре, стремящихся обрести
          комплексные знания в области освещения
        </p>
      </div>
      <div
        class="rounded-small flex flex-col gap-8 bg-dc-l p-4 sm:p-6 sm:gap-[7.125rem] sm:col-span-4"
      >
        <h5 class="text-be-10 text-17 sm:text-32sb">Специалистам</h5>
        <p class="text-14 sm:text-17">
          Ищущих понимание освещения как важного элемента градостроительства и
          дизайна общественных пространств
        </p>
      </div>
      <div
        class="rounded-small flex flex-col gap-8 bg-dc-y p-4 sm:p-6 sm:gap-[7.125rem] sm:col-span-4"
      >
        <h5 class="text-be-10 text-17 sm:text-32sb">Инженерам</h5>
        <p class="text-14 sm:text-17">
          Интересующихся освещением и желающих получить комплексные знания в
          этой области
        </p>
      </div>
      <div
        class="rounded-small flex flex-col gap-8 bg-dc-p p-4 sm:p-6 sm:gap-[7.125rem] sm:col-span-4 sm:col-start-5"
      >
        <h5 class="text-be-10 text-17 sm:text-32sb">Дизайнерам</h5>
        <p class="text-14 sm:text-17">
          Стремящихся развивать навыки проектирования световой интерьерах,
          пространствах и ландшафтных объектах
        </p>
      </div>
      <div
        class="rounded-small flex flex-col gap-8 bg-dc-v p-4 sm:p-6 sm:gap-[7.125rem] sm:col-span-4"
      >
        <h5 class="text-be-10 text-17 sm:text-32sb">Архитекторам</h5>
        <p class="text-14 sm:text-17">
          Архитекторам Желающих углубить свои знания в области освещения
          интерьеров и архитектурных сооружений
        </p>
      </div>
    </div>
  </section>

  <section data-scroll-section class="partners-carousel">
    <div
      class="container sm:mb-[6.25rem] sm:grid sm:gap-x-[1.125rem] sm:grid-cols-12 mb-10"
    >
      <h2 class="text-27sb sm:text-48m mb-6 sm:mb-0 col-span-7 text-be-10">
        Сотрудничаем с ведущими компаниями
      </h2>
      <p class="text-14 sm:text-20 col-span-5 text-bk-8">
        Собираем лучшие вакансии в отрасли, готовим к интервью рекомендуем вас
        компаниям - партнерам.
      </p>
    </div>

    <div class="relative h-[3.5625rem] sm:h-[7.8125rem] mb-9 sm:mb-[3.75rem]">
      <div class="line-scroll-left">
        <div class="line-scroll-left__wrapper">
          <div
            class="line-scroll__cont"
            style="animation-duration: 22s; left: 94.2867px"
          >
            <a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/f1b/f1b0e9094943a6c30785600503496cea.png"
                alt=""
              />
            </a>

            <a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/1ed/1ed1129a85e3565764528236275f52df.png"
                alt=""
              />
            </a>

            <a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/b86/b86c9c2e08ea47e26f95b5113a1499cd.png"
                alt=""
              />
            </a>

            <a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/e16/e162b67b8a8887450800f7dad7f1c229.png"
                alt=""
              />
            </a>

            <a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/1b4/1b4f39ac2f2913d9d34b3b8a168a6c3a.png"
                alt=""
              />
            </a>

            <a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/76a/76af98bb153a2ed5d308edb2455755f4.png"
                alt=""
              />
            </a>

            <a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/8a3/8a39094dfc6b6a765fb038e4d1dd050f.png"
                alt=""
              />
            </a>

            <a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/d04/d043a80a960a25ec5d6b00964156a3a3.png"
                alt=""
              />
            </a>

            <a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/6f4/6f43564b4e23e9622d6f5df989f37091.png"
                alt=""
              />
            </a>

            <a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/6ab/6ab57885cdcfb75f36e3149afc72cbe2.png"
                alt=""
              />
            </a>

            <a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/0f0/0f0bf50a3cc774ebea25b15c244ca7bc.png"
                alt=""
              />
            </a>

            <a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/830/8306407eea65ec84088f7608f13ba970.png"
                alt=""
              />
            </a>

            <a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/07c/07c92b78bc91f61c66b7d85e5fc494e7.png"
                alt=""
              />
            </a>

            <a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/7c3/7c34a3d073d2d8eb4178b3aae01361a1.png"
                alt=""
              />
            </a>

            <a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/d34/d3452dc38cfc4ca503cf9983019783cc.png"
                alt=""
              />
            </a>

            <a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/7c0/7c09caafb8de9ca8a61cbb092b247f0e.png"
                alt=""
              />
            </a>

            <a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/f1b/f1b0e9094943a6c30785600503496cea.png"
                alt=""
              /> </a
            ><a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/1ed/1ed1129a85e3565764528236275f52df.png"
                alt=""
              /> </a
            ><a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/b86/b86c9c2e08ea47e26f95b5113a1499cd.png"
                alt=""
              /> </a
            ><a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/e16/e162b67b8a8887450800f7dad7f1c229.png"
                alt=""
              /> </a
            ><a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/1b4/1b4f39ac2f2913d9d34b3b8a168a6c3a.png"
                alt=""
              /> </a
            ><a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/76a/76af98bb153a2ed5d308edb2455755f4.png"
                alt=""
              /> </a
            ><a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/8a3/8a39094dfc6b6a765fb038e4d1dd050f.png"
                alt=""
              /> </a
            ><a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/d04/d043a80a960a25ec5d6b00964156a3a3.png"
                alt=""
              /> </a
            ><a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/6f4/6f43564b4e23e9622d6f5df989f37091.png"
                alt=""
              /> </a
            ><a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/6ab/6ab57885cdcfb75f36e3149afc72cbe2.png"
                alt=""
              /> </a
            ><a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/0f0/0f0bf50a3cc774ebea25b15c244ca7bc.png"
                alt=""
              /> </a
            ><a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/830/8306407eea65ec84088f7608f13ba970.png"
                alt=""
              /> </a
            ><a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/07c/07c92b78bc91f61c66b7d85e5fc494e7.png"
                alt=""
              /> </a
            ><a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/7c3/7c34a3d073d2d8eb4178b3aae01361a1.png"
                alt=""
              /> </a
            ><a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/d34/d3452dc38cfc4ca503cf9983019783cc.png"
                alt=""
              /> </a
            ><a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/7c0/7c09caafb8de9ca8a61cbb092b247f0e.png"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="relative h-[3.5625rem] sm:h-[7.8125rem]">
      <div class="line-scroll-right">
        <div class="line-scroll-right__wrapper">
          <div
            class="line-scroll__cont"
            style="animation-duration: 22s; right: 120.537px"
          >
            <a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/8a3/8a39094dfc6b6a765fb038e4d1dd050f.png"
                alt=""
              />
            </a>

            <a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/d04/d043a80a960a25ec5d6b00964156a3a3.png"
                alt=""
              />
            </a>

            <a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/0f0/0f0bf50a3cc774ebea25b15c244ca7bc.png"
                alt=""
              />
            </a>

            <a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/d34/d3452dc38cfc4ca503cf9983019783cc.png"
                alt=""
              />
            </a>

            <a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/7c0/7c09caafb8de9ca8a61cbb092b247f0e.png"
                alt=""
              />
            </a>

            <a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/1b4/1b4f39ac2f2913d9d34b3b8a168a6c3a.png"
                alt=""
              />
            </a>

            <a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/f1b/f1b0e9094943a6c30785600503496cea.png"
                alt=""
              />
            </a>

            <a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/7c3/7c34a3d073d2d8eb4178b3aae01361a1.png"
                alt=""
              />
            </a>

            <a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/b86/b86c9c2e08ea47e26f95b5113a1499cd.png"
                alt=""
              />
            </a>

            <a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/07c/07c92b78bc91f61c66b7d85e5fc494e7.png"
                alt=""
              />
            </a>

            <a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/e16/e162b67b8a8887450800f7dad7f1c229.png"
                alt=""
              />
            </a>

            <a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/830/8306407eea65ec84088f7608f13ba970.png"
                alt=""
              />
            </a>

            <a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/6f4/6f43564b4e23e9622d6f5df989f37091.png"
                alt=""
              />
            </a>

            <a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/76a/76af98bb153a2ed5d308edb2455755f4.png"
                alt=""
              />
            </a>

            <a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/6ab/6ab57885cdcfb75f36e3149afc72cbe2.png"
                alt=""
              />
            </a>

            <a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/1ed/1ed1129a85e3565764528236275f52df.png"
                alt=""
              />
            </a>

            <a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/8a3/8a39094dfc6b6a765fb038e4d1dd050f.png"
                alt=""
              /> </a
            ><a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/d04/d043a80a960a25ec5d6b00964156a3a3.png"
                alt=""
              /> </a
            ><a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/0f0/0f0bf50a3cc774ebea25b15c244ca7bc.png"
                alt=""
              /> </a
            ><a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/d34/d3452dc38cfc4ca503cf9983019783cc.png"
                alt=""
              /> </a
            ><a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/7c0/7c09caafb8de9ca8a61cbb092b247f0e.png"
                alt=""
              /> </a
            ><a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/1b4/1b4f39ac2f2913d9d34b3b8a168a6c3a.png"
                alt=""
              /> </a
            ><a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/f1b/f1b0e9094943a6c30785600503496cea.png"
                alt=""
              /> </a
            ><a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/7c3/7c34a3d073d2d8eb4178b3aae01361a1.png"
                alt=""
              /> </a
            ><a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/b86/b86c9c2e08ea47e26f95b5113a1499cd.png"
                alt=""
              /> </a
            ><a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/07c/07c92b78bc91f61c66b7d85e5fc494e7.png"
                alt=""
              /> </a
            ><a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/e16/e162b67b8a8887450800f7dad7f1c229.png"
                alt=""
              /> </a
            ><a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/830/8306407eea65ec84088f7608f13ba970.png"
                alt=""
              /> </a
            ><a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/6f4/6f43564b4e23e9622d6f5df989f37091.png"
                alt=""
              /> </a
            ><a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/76a/76af98bb153a2ed5d308edb2455755f4.png"
                alt=""
              /> </a
            ><a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/6ab/6ab57885cdcfb75f36e3149afc72cbe2.png"
                alt=""
              /> </a
            ><a href="#">
              <img
                src="https://svet-expert.com/upload/iblock/1ed/1ed1129a85e3565764528236275f52df.png"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FORM -->
  <section
    class="container sm:grid grid-cols-12 sm:gap-x-[1.125rem]"
    data-scroll-section
  >
    <div class="col-span-10 col-start-2">
      <h2
        class="text-27sb sm:text-48m text-be-10 mb-10 sm:mb-16 sm:text-center"
      >
        <span class="sm:text-[#AAACC4]"
          >Готовы ответить <br class="sm:hidden" />
          на</span
        >
        любые вопросы - спрашивайте
      </h2>
      <form action="" class="form footer-form">
        <div
          class="flex flex-col gap-y-8 gap-x-[1.875rem] lg:flex-row form__inputs"
        >
          <label class="input input--name hovered-line-anim">
            <span class="input__title">Имя</span>
            <input class="input__item text-17" type="text" />
          </label>
          <label class="input input--phone hovered-line-anim">
            <span class="input__title">Телефон</span>
            <input class="input__item text-17" type="text" />
          </label>
          <label class="input input--email hovered-line-anim">
            <span class="input__title">Эл. адрес</span>
            <input class="input__item text-17" type="text" />
          </label>
        </div>
        <label
          class="custom-checkbox mx-auto mt-[3.75rem] lg:mt-[1.875rem] form__politic"
        >
          <input type="checkbox" class="custom-checkbox__inp" />
          <span class="custom-checkbox__checkbox"></span>
          <p class="text-[#AAACC4] custom-checkbox__text">
            Нажимая “Отправить”
            <a href="#" class="text-be-10"
              >вы соглашаетесь <br class="sm:hidden" />с обработкой персональных
              данных</a
            >
          </p>
        </label>
        <button
          type="submit"
          class="button button--primary mt-4 lg:mt-0 w-full lg:w-fit form__submit"
        >
          <span>Спросить</span>
        </button>
      </form>
    </div>
  </section>
</div>
