<section data-scroll-section class="container">
  <h1 class="my-[3.125rem] sm:mt-[4.5rem] sm:mb-[6.25rem] text-27sb sm:text-60sb">
    Пользовательское соглашение
  </h1>
  <div class="pt-50 sm:pt-0 sm:grid grid-cols-12 gap-[1.125rem] privacy-policy ">
    <div class="buttons col-span-3 hidden sm:block">
      <a href="/" class="button button--primary w-fit"><span>На главную</span></a>
    </div>
    <div class="col-start-7 col-span-6">
      <h4>1. Общие положения</h4>
      <p>
        <span>1.1. </span> <span>Настоящее Пользовательское соглашение (далее – Соглашение) относится к сайту Интернет-ресурса «Свет Эксперт», расположенному по адресу <a href="https://www.svet-expert.com">www.svet-expert.com</a>, и ко всем соответствующим сайтам, связанным с сайтом <a href="https://www.svet-expert.com">www.svet-expert.com</a>.</span>
      </p>
      <p>
        <span>1.2. </span>
        <span
          >Сайт Интернет-ресурса «Свет Эксперт» (далее – Сайт) является собственностью общества с ограниченной ответственностью «Свет Эксперт».</span
        >
      </p>
      <p>
        <span>1.3. </span>
        <span>
			Настоящее Соглашение регулирует отношения между Администрацией сайта Интернет-ресурса «Свет Эксперт» (далее – Администрация сайта) и Пользователем данного Сайта.
		</span>
      </p>
      <p>
        <span>1.4. </span>
        <span>
			Администрация сайта оставляет за собой право в любое время изменять, добавлять или удалять пункты настоящего Соглашения без уведомления Пользователя.
		</span>
      </p>
      <p>
        <span>1.5. </span>
        <span>
			Продолжение использования Сайта Пользователем означает принятие Соглашения и изменений, внесенных в настоящее Соглашение.	
		</span>
      </p>
      <p>
        <span>1.6. </span>
        <span>
			Пользователь несет персональную ответственность за проверку настоящего Соглашения на наличие изменений в нем.	
		</span>
      </p>
      <h4>2. Определение терминов</h4>
      <p>
        Перечисленные ниже термины имеют для целей настоящего Соглашения следующее значение:
      </p>
      <p>
	  	<span>2.1. </span> 
        <span>
			«Свет Эксперт» – Интернет-ресурс, расположенный на доменном имени <a href="https://www.svet-expert.com">www.svet-expert.com</a>, осуществляющий свою деятельность посредством Интернет-ресурса и сопутствующих ему сервисов.
		</span>
      </p>
      <p>
        <span>2.2. </span> 
		<span>
			Интернет-ресурс – сайт, содержащий информацию о Услугах, Продавце, позволяющий ознакомится с вариантами предоставляемых услуг.
		</span>
      </p>
      <p>
        <span>2.3. </span>
        <span
          >
		  	Администрация сайта Интернет-ресурса – уполномоченные сотрудники на управления Сайтом, действующие от имени ООО «Свет Эксперт».
		  </span
        >
      </p>
      <p>
        <span>2.4. </span> 
		<span>
			Пользователь сайта Интернет-ресурса (далее ‑ Пользователь) – лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Сайт.
		</span>
      </p>
      <p>
        <span>2.5. </span> 
		<span>
			Содержание сайта Интернет-ресурса (далее – Содержание) - охраняемые результаты интеллектуальной деятельности, включая тексты литературных произведений, их названия, предисловия, аннотации, статьи, иллюстрации, обложки, музыкальные произведения с текстом или без текста, графические, текстовые, фотографические, производные, составные и иные произведения, пользовательские интерфейсы, визуальные интерфейсы, названия товарных знаков, логотипы, программы для ЭВМ, базы данных, а также дизайн, структура, выбор, координация, внешний вид, общий стиль и расположение данного Содержания, входящего в состав Сайта и другие объекты интеллектуальной собственности все вместе и/или по отдельности, содержащиеся на сайте Интернет-ресурса.
		</span>
      </p>
      <h4>
        3. Предмент соглашения
      </h4>
      <p><span>3.1. </span> <span>Предметом настоящего Соглашения является предоставление Пользователю Интернет-ресурса доступа к содержащимся на сайте услугам.</span></p>
      <p><span>3.2. </span> <span>
	  	Интернет-ресурс предоставляет Пользователю следующие виды услуг (сервисов):
	  </span></p>
	  	<p>
	 		• доступ к электронному контенту на бесплатной основе, просмотра контента;
		</p>
		<p>
			• доступ к средствам навигации Интернет-ресурса;
		</p>
		<p>
			• предоставление Пользователю возможности размещения сообщений, комментариев, рецензий Пользователей, выставления оценок контенту Интернет-ресурса;
		</p>
		<p>
			• иные виды услуг (сервисов), реализуемые на страницах Интернет-ресурса, включая платные услуги (сервисы).
		</p>
      <p><span>3.3. </span> Под действие настоящего Соглашения подпадают все существующие (реально функционирующие) на данный момент услуги (сервисы) Интернет-ресурса, а также любые их последующие модификации и появляющиеся в дальнейшем дополнительные услуги (сервисы) Интернет-ресурса.</p>
      <p><span>3.4. </span> Доступ к Интернет-ресурсу предоставляется на бесплатной основе.</p>
      <p><span>3.5. </span> Настоящее Соглашение является публичной офертой. Получая доступ к Сайту Пользователь считается присоединившимся к настоящему Соглашению.</p>
      <p>
        <span>3.6. </span> 
		<span>
			Использование материалов и сервисов Сайта регулируется нормами действующего законодательства Российской Федерации
		</span>
      </p>
      <h4>4. Права и обязанности сторон</h4>
	  <p>
	  	Администрация сайта вправе:
	  </p>
      <p>
        <span>4.1. </span>
		<span>
			Изменять правила пользования Сайтом, а также изменять содержание данного Сайта. Изменения вступают в силу с момента публикации новой редакции Соглашения на Сайте.
		</span>
      </p>
      <p>
	  	<span>4.2.</span> <span>Ограничить доступ к Сайту в случае нарушения Пользователем
          условий настоящего Соглашения.</span>
        </p>
        <p>
		<span> 4.3.</span> <span>Изменять размер оплаты, взимаемый за предоставление доступа к
          использованию сайта Интернет-ресурса. Изменение стоимости не будет
          распространяться на Пользователей, имеющих регистрацию к моменту
          изменения размера оплаты, за исключением случаев, особо оговоренных
          Администрацией сайта интернет-ресурса.</span>
        </p>
        <p>
		<span> 4.4.</span><span> Собирать, анализировать, использовать, делиться (в том числе на
          платной основе) информацией о Пользователе, содержащейся на Сайте,
          включая, но не ограничиваясь, информацией о контактных и личных данных
          Пользователя, информацией о действиях Пользователя на Сайте и.т.д.</span>
        </p>
        <p>Пользователь вправе:</p>
        <p><span>4.2.1.</span> <span>Получить доступ к использованию Сайта.</span></p>
        <p>
		<span>4.2.2.</span> <span>Пользоваться всеми имеющимися на Сайте услугами, а также
          приобретать любые Товары, предлагаемые на Сайте.</span>
        </p>
        <p>
		<span> 4.2.3. </span><span>Задавать любые вопросы, относящиеся к услугам Интернет-ресурса
          по реквизитам, которые находятся в разделе Сайта «Контакты».</span>
        </p>
        <p>
		<span> 4.2.4. </span><span>Пользоваться Сайтом исключительно в целях и порядке,
          предусмотренных Соглашением и не запрещенных законодательством
          Российской Федерации.<span>
        </p>
        <p> Пользователь Сайта обязуется:</p>
        <p>
		<span>4.3.1.</span><span> Предоставлять по запросу Администрации сайта дополнительную
          информацию, которая имеет непосредственное отношение к предоставляемым
          услугам данного Сайта.</span>
        </p>
        <p>
		<span>4.3.2.</span> <span>Соблюдать имущественные и неимущественные права авторов и иных
          правообладателей при использовании Сайта.</span>
        </p>
        <p>
		<span>4.3.3.</span><span> Не предпринимать действий, которые могут рассматриваться как
          нарушающие нормальную работу Сайта.</span>
        </p>
        <p>
		<span>4.3.4. </span><span>Не распространять с использованием Сайта любую конфиденциальную
          и охраняемую законодательством Российской Федерации информацию о
          физических либо юридических лицах.</span>
        </p>
        <p>
		<span>4.3.5.</span> <span>Избегать любых действий, в результате которых может быть
          нарушена конфиденциальность охраняемой законодательством Российской
          Федерации информации.</span>
        </p>
        <p>
		<span>4.3.6.</span> <span>Не использовать Сайт для распространения информации рекламного
          характера, иначе как с согласия Администрации сайта.</span>
        </p>
        <p><span>4.3.7.</span> <span>Не использовать сервисы сайта Интернет-ресурса с целью:<span></p>
        <p>
		<span>4.3.7.1. </span><span>загрузки контента, который является незаконным, нарушает
          любые права третьих лиц; пропагандирует насилие, жестокость, ненависть
          и (или) дискриминацию по расовому, национальному, половому,
          религиозному, социальному признакам; содержит недостоверные сведения и
          (или) оскорбления в адрес конкретных лиц, организаций, органов власти.</span>
        </p>
        <p>
		<span> 4.3.7.2.</span> <span>побуждения к совершению противоправных действий, а также
          содействия лицам, действия которых направлены на нарушение ограничений
          и запретов, действующих на территории Российской Федерации.</span>
        </p>
        <p>
		<span>4.3.7.3.</span> <span>нарушения прав несовершеннолетних лиц и (или) причинение им
          вреда в любой форме.</span>
        </p>
        <p><span>4.3.7.4.</span> <span>ущемления прав меньшинств.</span></p>
        <p>
		<span>4.3.7.5.</span> <span>представления себя за другого человека или представителя
          организации и (или) сообщества без достаточных на то прав, в том числе
          за сотрудников данного Интернет-ресурса.</span>
        </p>
        <p>
		<span>4.3.7.6.</span> <span>введения в заблуждение относительно свойств и характеристик
          какого-либо Товара из каталога Интернет-ресурса, размещенного на
          Сайте.</span>
        </p>
        <p>
		<span>4.3.7.7.</span> <span>некорректного сравнения Товара, а также формирования
          негативного отношения к лицам, (не) пользующимся определенными
          Товарами, или осуждения таких лиц.</span>
        </p>
        <p> Пользователю запрещается:</p>
        <p>
		<span> 4.4.1.</span> <span>Использовать любые устройства, программы, процедуры, алгоритмы
          и методы, автоматические устройства или эквивалентные ручные процессы
          для доступа, приобретения, копирования или отслеживания содержания
          Сайта данного Интернет-ресурса;</span>
        </p>
        <p><span>4.4.2.</span> <span>Нарушать надлежащее функционирование Сайта;</span></p>
        <p>
		<span>4.4.3.</span><span> Любым способом обходить навигационную структуру Сайта для
          получения или попытки получения любой информации, документов или
          материалов любыми средствами, которые специально не представлены
          сервисами данного Сайта;</span>
        </p>
        <p>
		<span>4.4.4.</span> <span>Нарушать систему безопасности или аутентификации на Сайте или в
			любой сети, относящейся к Сайту.</span>
        </p>
        <p>
		<span>4.4.5.</span> <span>Выполнять обратный поиск, отслеживать или пытаться отслеживать
			любую информацию о любом другом Пользователе Сайта.</span>
        </p>
        <p>
		<span>4.4.6. </span><span>Использовать Сайт и его Содержание в любых целях, запрещенных
			законодательством Российской Федерации, а также подстрекать к любой
			незаконной деятельности или другой деятельности, нарушающей права
			интернет-ресурса или других лиц.</span>
        </p>
		<p>
		<span>4.4.7.</span> <span>Несанкционированный доступ к функциям Сайта, любым другим
		  системам или сетям, относящимся к данному Сайту, а также к любым
		  услугам, предлагаемым на Сайте;</span>
		</p>
        <h4>5. Использование сайта интернет-ресурса</h4>
        
        <p>
		<span>5.1.</span><span> Сайт и Содержание, входящее в состав Сайта, принадлежит и
          управляется Администрацией сайта.</span>
        </p>
        <p>
		<span> 5.2.</span><span> Содержание Сайта не может быть скопировано, опубликовано,
          воспроизведено, передано или распространено любым способом, а также
          размещено в глобальной сети «Интернет» без предварительного
          письменного согласия Администрации сайта.</span>
        </p>
        <p>
		<span>5.3.</span><span> Содержание Сайта защищено авторским правом, законодательством о
          товарных знаках, а также другими правами, связанными с
          интеллектуальной собственностью, и законодательством о
          недобросовестной конкуренции.</span>
        </p>
        <p>
		<span>5.4.</span><span> При использовании некоторых сервисов сайта, может потребоваться
          создание учётной записи Пользователя.</span>
        </p>
        <p>
		<span>5.5.</span><span> Пользователь несет персональную ответственность за сохранение
          конфиденциальности информации учётной записи, включая пароль, а также
          за всю без исключения деятельность, которая ведётся от имени
          Пользователя учётной записи.</span>
        </p>
        <p>
		<span>5.6. </span><span>Пользователь должен незамедлительно уведомить Администрацию сайта
          о несанкционированном использовании его учётной записи или пароля или
          любом другом нарушении системы безопасности.</span>
        </p>
        <p>
		<span>5.7.</span><span> Настоящее Соглашение распространяет свое действия на все
          дополнительные положения и условия о покупке Товара и оказании услуг,
          предоставляемых на Сайте.</span>
        </p>
        <p>
		<span>5.8.</span><span> Информация, размещаемая на Сайте не должна истолковываться как
          изменение настоящего Соглашения.</span>
        </p>
        <p>
          <span>5.9.</span><span> Администрация сайта имеет право в любое время без уведомления
          Пользователя вносить изменения в перечень Товаров и услуг,
          предлагаемых на Сайте, и (или) в цены, применимые к таким Товарам по
          их реализации и (или) оказываемым услугам Интернет-ресурсом.</span>
        </p>
        <p>
		<span> Документы, указанные в пунктах 5.10.1 - 5.10.4 настоящего
          Соглашения регулируют в соответствующей части и распространяют свое
          действие на использование Пользователем Сайта. В настоящее Соглашение
          включены следующие документы:</span>
        </p>
        <p><span>5.10.1.</span> <span>Политика конфиденциальности;</span></p>
        <p><span>5.10.2.</span> <span>Договор купли-продажи товаров дистанционным способом;</span></p>
        <p><span>5.10.3.</span> <span>Заявка на оформление заказа;</span></p>
        <p><span>5.10.4.</span> <span>Предложения и замечания.</span></p>
        <p>
          <span>5.11.</span> <span>Любой из документов, перечисленных в пункте 5.10. настоящего
          Соглашения может подлежать обновлению. Изменения вступают в силу с
          момента их опубликования на Сайте.</span>
        </p>
        <h4>6. Ответственность</h4>
        <p>
		<span>6.1.</span> <span>Любые убытки, которые Пользователь может понести в случае
          умышленного или неосторожного нарушения любого положения настоящего
          Соглашения, а также вследствие несанкционированного доступа к
          коммуникациям другого Пользователя, Администрацией сайта не
          возмещаются.</span>
        </p>
        <p>Администрация сайта не несет ответственности за:</p>
        <p>
		<span>6.2.1.</span> <span>Задержки или сбои в процессе совершения операции, возникшие
          вследствие непреодолимой силы, а также любого случая неполадок в
          телекоммуникационных, компьютерных, электрических и иных смежных
          системах.</span>
        </p>
        <p>
		<span>6.2.2.</span> <span>Действия систем переводов, банков, платежных систем и за
          задержки связанные с их работой.</span>
        </p>
        <p>
		<span>6.2.3.</span> <span>Надлежащее функционирование Сайта, в случае, если Пользователь
          не имеет необходимых технических средств для его использования, а
          также не несет никаких обязательств по обеспечению пользователей
          такими средствами.</span>
        </p>
        <p><span>6.2.4.</span> 
		<span>Содержание (контент) информации размещенной на Сайте.</span></p>
        <p>
		<span>6.3.</span><span> Пользователь самостоятельно несет ответственность за
          интерпретацию и использование контента (информации), размещенного на
          Сайте.</span>
        </p>
        <h4>7. Нарушение условий пользовательского соглашения</h4>
        <p>
		<span>7.1.</span><span> Администрация сайта вправе раскрыть любую собранную о
          Пользователе данного Сайта информацию, если раскрытие необходимо в
          связи с расследованием или жалобой в отношении неправомерного
          использования Сайта либо для установления (идентификации)
          Пользователя, который может нарушать или вмешиваться в права
          Администрации сайта или в права других Пользователей Сайта.</span>
        </p>
        <p>
		<span>7.2.</span><span> Администрация сайта имеет право раскрыть любую информацию о
          Пользователе, которую посчитает необходимой для выполнения положений
          действующего законодательства или судебных решений, обеспечения
          выполнения условий настоящего Соглашения, защиты прав или безопасности
          название организации, Пользователей.</span>
        </p>
        <p>
          <span>7.3.</span> <span>Администрация сайта имеет право раскрыть информацию о
          Пользователе, если действующее законодательство Российской Федерации
          требует или разрешает такое раскрытие.</span>
        </p>
        <p>
          <span>7.4.</span> <span>Администрация сайта вправе без предварительного уведомления
          Пользователя прекратить и (или) заблокировать доступ к Сайту, если
          Пользователь нарушил настоящее Соглашение или содержащиеся в иных
          документах условия пользования Сайтом, а также в случае прекращения
          действия Сайта либо по причине технической неполадки или проблемы.</span>
        </p>
        <p>
		<span> 7.5. </span><span>Администрация сайта не несет ответственности перед Пользователем
          или третьими лицами за прекращение доступа к Сайту в случае нарушения
          Пользователем любого положения настоящего Соглашения или иного
          документа, содержащего условия пользования Сайтом.</span>
        </p>
        <h4>8. Разрешение споров</h4>
        <p>
		<span> 8.1.</span><span> В случае возникновения любых разногласий или споров между
          Сторонами настоящего Соглашения обязательным условием до обращения в
          суд является предъявление претензии (письменного предложения о
          добровольном урегулировании спора).</span>
        </p>
        <p>
		<span> 8.2.</span> <span>Получатель претензии в течение 10 (десяти) календарных дней со
          дня ее получения, письменно уведомляет заявителя претензии о
          результатах рассмотрения претензии.</span>
        </p>
        <p>
		<span>8.3.</span><span> При невозможности разрешить спор в добровольном порядке любая из
          Сторон вправе обратиться в суд за защитой своих прав, которые
          предоставлены им действующим законодательством Российской Федерации.</span>
        </p>
        <p>
		<span> 8.4.</span><span> Любой иск в отношении условий использования Сайта должен быть
          предъявлен в течение срока после возникновения оснований для иска, за
          исключением защиты авторских прав на охраняемые в соответствии с
          законодательством материалы Сайта. При нарушении условий данного
          пункта любой иск или основания для иска погашаются исковой
          давностью.</span>
        </p>
        <h4>9. Дополнительные условия</h4>
        <p>
		<span>9.1. </span><span>Администрация сайта не принимает встречные предложения от
          Пользователя относительно изменений настоящего Пользовательского
          соглашения.</span>
        </p>
        <p>
		<span>9.2.</span> <span>Отзывы Пользователя, размещенные на Сайте, не являются
          конфиденциальной информацией и могут быть использованы Администрацией
          сайта без ограничений.</span>
        </p>
    </div>
  </div>
</section>
