<div class="container sm:pt-20 product-page" data-scroll-section>
  <article class="flex flex-col" id="productPageElem">
    <div>
      <h3 class="text-32sb mb-6 sm:mb-10 text-be-10 sm:text-56sb main-title">
        Архитектурный светодизайн
      </h3>
      <div class="text-14 sm:text-20m main-subdesk">
        <p>
          Данный курс посвящен архитектурному светодизайну. Во время прохождения
          курса вы познакомитесь с основами архитектурного светодизайна, узнаете
          выдающихся светодизайнеров и разберете особенности их проектов
          освещения. Эксперты познакомят вас с особенностями освещения различных
          архитектурных стилей. Вы разберете алгоритм работы светодизайнера и
          научитесь создавать концепции освещения, а также вечерние визуализации
          объектов.
        </p>
      </div>
    </div>
    <div>
      <h4 class="text-24sb mb-4 sm:mb-6 text-be-10 sm:text-40sb">Программа</h4>
      <div class="text-14 sm:text-17m mb-8 sm:mb-10">
        <p>
          Данный курс посвящен архитектурному светодизайну. Во время прохождения
          курса вы познакомитесь с основами архитектурного светодизайна, узнаете
          выдающихся светодизайнеров и разберете особенности их проектов
          освещения.
        </p>
      </div>
      <ol class="flex gap-2 flex-col sm:gap-1">
        <li class="drop-down">
          <div class="drop-down__open">
            <h5 class="drop-down__title">Первый шаг</h5>
            <span></span>
          </div>
          <div class="drop-down__container">
            <div class="drop-down__container--2">
              <div class="drop-down__container--3">
                <div class="drop-down__container--4">
                  <div class="drop-down__container--5">
                    <div class="max-w-[40.875rem]">
                      Данный курс посвящен архитектурному светодизайну. Во время
                      прохождения курса вы познакомитесь с основами
                      архитектурного светодизайна, узнаете выдающихся
                      светодизайнеров и разберете особенности их проектов
                      освещения.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="drop-down">
          <div class="drop-down__open">
            <h5 class="drop-down__title">Первый шаг</h5>
            <span></span>
          </div>
          <div class="drop-down__container">
            <div class="drop-down__container--2">
              <div class="drop-down__container--3">
                <div class="drop-down__container--4">
                  <div class="drop-down__container--5">
                    <div class="max-w-[40.875rem]">
                      Данный курс посвящен архитектурному светодизайну. Во время
                      прохождения курса вы познакомитесь с основами
                      архитектурного светодизайна, узнаете выдающихся
                      светодизайнеров и разберете особенности их проектов
                      освещения.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="drop-down">
          <div class="drop-down__open">
            <h5 class="drop-down__title">Первый шаг</h5>
            <span></span>
          </div>
          <div class="drop-down__container">
            <div class="drop-down__container--2">
              <div class="drop-down__container--3">
                <div class="drop-down__container--4">
                  <div class="drop-down__container--5">
                    <div class="max-w-[40.875rem]">
                      Данный курс посвящен архитектурному светодизайну. Во время
                      прохождения курса вы познакомитесь с основами
                      архитектурного светодизайна, узнаете выдающихся
                      светодизайнеров и разберете особенности их проектов
                      освещения.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="drop-down">
          <div class="drop-down__open">
            <h5 class="drop-down__title">Первый шаг</h5>
            <span></span>
          </div>
          <div class="drop-down__container">
            <div class="drop-down__container--2">
              <div class="drop-down__container--3">
                <div class="drop-down__container--4">
                  <div class="drop-down__container--5">
                    <div class="max-w-[40.875rem]">
                      Данный курс посвящен архитектурному светодизайну. Во время
                      прохождения курса вы познакомитесь с основами
                      архитектурного светодизайна, узнаете выдающихся
                      светодизайнеров и разберете особенности их проектов
                      освещения.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ol>
      <a
        href="#"
        data-modal="#modalForm"
        class="button button--big mt-3 sm:mt-6"
        ><span>Записаться на пробный урок</span></a
      >
    </div>
    <div>
      <h3 class="text-24sb sm:text-40sb mb-4 sm:mb-10 text-be-10">
        Проекты в портфолио
      </h3>
      <div class="sm:grid gap-x-[1.125rem] portfolio">
        <div class="portfolio-desc flex flex-col sm:h-full mb-4 sm:mb-0">
          <div class="portfolio-desc__slider">
            <div class="portfolio-desc__slide active">
              <p class="text-14 sm:text-17">
                За время обучения слушатели разрабатывают и реализуют проекты
                освещения зданий и участвуют в разработке концепций освещения
                целых городов (совместно с экспертами).
              </p>
            </div>
            <div class="portfolio-desc__slide">
              <p class="text-14 sm:text-17">
                За время обучения слушатели разрабатывают и реализуют проекты
                освещения зданий и участвуют в разработке концепций освещения
                целых городов (совместно с экспертами).
              </p>
            </div>
            <div class="portfolio-desc__slide">
              <p class="text-14 sm:text-17">
                За время обучения слушатели разрабатывают и реализуют проекты
                освещения зданий и участвуют в разработке концепций освещения
                целых городов (совместно с экспертами).
              </p>
            </div>
            <div class="portfolio-desc__slide">
              <p class="text-14 sm:text-17">
                За время обучения слушатели разрабатывают и реализуют проекты
                освещения зданий и участвуют в разработке концепций освещения
                целых городов (совместно с экспертами).
              </p>
            </div>
            <div class="portfolio-desc__slide">
              <p class="text-14 sm:text-17">
                За время обучения слушатели разрабатывают и реализуют проекты
                освещения зданий и участвуют в разработке концепций освещения
                целых городов (совместно с экспертами).
              </p>
            </div>
          </div>
          <div class="slider-buttons mt-8 sm:mt-auto">
            <div class="slider-button swiper-button-prev slider-button-prev">
              <svg
                xmlns="https://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  d="M20 12L5 12"
                  stroke="#061143"
                  stroke-width="1.4"
                  stroke-linecap="round"
                />
                <path
                  d="M9 17C9 17 4.5 12.2279 4.5 12C4.5 11.7721 9 7 9 7"
                  stroke="#061143"
                  stroke-width="1.4"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="slider-button swiper-button-next slider-button-next">
              <svg
                xmlns="https://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  d="M4 12L19 12"
                  stroke="#061143"
                  stroke-width="1.4"
                  stroke-linecap="round"
                />
                <path
                  d="M15 7C15 7 19.5 11.7721 19.5 12C19.5 12.2279 15 17 15 17"
                  stroke="#061143"
                  stroke-width="1.4"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="min-w-0 min-h-0 portfolio-slider">
          <div
            class="swiper h-[217px] sm:min-h-[23.3125rem] sm:h-full slider rounded-small slider-width-text"
            data-text="portfolio-desc"
            id="ourPortfolioArProj"
          >
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img
                  src="/public/pat.jpg"
                  alt=""
                  class="object-cover h-full w-full rounded-small"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="/public/pat.jpg"
                  alt=""
                  class="object-cover h-full w-full rounded-small"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="/public/pat.jpg"
                  alt=""
                  class="object-cover h-full w-full rounded-small"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="/public/pat.jpg"
                  alt=""
                  class="object-cover h-full w-full rounded-small"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="/public/pat.jpg"
                  alt=""
                  class="object-cover h-full w-full rounded-small"
                />
              </div>
            </div>
            <div class="slider-pag">
              <div class="slider-pag__container swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h3 class="text-24sb sm:text-40sb mb-6 sm:mb-10 text-be-10">Для кого</h3>
      <ul class="flex flex-col gap-3 sm:grid sm:gap-[1.125rem] for-who">
        <li class="rounded-small p-4 bg-dc-3">
          <h4 class="text-17m sm:text-32sb mb-8 sm:mb-[7.125rem] text-be-10">
            Студентам
          </h4>
          <p class="text-14 sm:text-17">
            Синтересом к светотехнике и архитектуре, стремящихся обрести
            комплексные знания в области освещения
          </p>
        </li>
        <li class="rounded-small p-4 bg-dc-l">
          <h4 class="text-17m sm:text-32sb mb-8 sm:mb-[7.125rem] text-be-10">
            Специалистам
          </h4>
          <p class="text-14 sm:text-17">
            Ищущих понимание освещения как важного элемента градостроительства и
            дизайна общественных пространств
          </p>
        </li>
        <li class="rounded-small p-4 bg-dc-y">
          <h4 class="text-17m sm:text-32sb mb-8 sm:mb-[7.125rem] text-be-10">
            Инженерам
          </h4>
          <p class="text-14 sm:text-17">
            Интересующихся освещением и желающих получить комплексные знания в
            этой области
          </p>
        </li>
        <li class="rounded-small p-4 bg-dc-p">
          <h4 class="text-17m sm:text-32sb mb-8 sm:mb-[7.125rem] text-be-10">
            Дизайнерам
          </h4>
          <p class="text-14 sm:text-17">
            Стремящихся развивать навыки проектирования световой интерьерах,
            пространствах и ландшафтных объектах
          </p>
        </li>
        <li class="rounded-small p-4 bg-dc-v">
          <h4 class="text-17m sm:text-32sb mb-8 sm:mb-[7.125rem] text-be-10">
            Архитекторам
          </h4>
          <p class="text-14 sm:text-17">
            Архитекторам Желающих углубить свои знания в области освещения
            интерьеров и архитектурных сооружений
          </p>
        </li>
      </ul>
    </div>
    <div>
      <h3 class="text-24sb sm:text-40sb mb-6 sm:mb-10 text-be-10">
        Документ <br />
        об окончании
      </h3>
      <div
        class="bg-bk-10 rounded-small py-14 px-[2.375rem] text-20m hidden sm:block h-[16.375rem] sm:h-[25.0625rem]"
      >
        <p class="max-w-[318px] text-bk-1">
          Удостоверение о повышении квалификации установленного образца.
        </p>
      </div>
      <a href="#" class="button button--big mt-3 sm:mt-6"
        ><span>Оставить заявку</span></a
      >
    </div>
  </article>
  <section
    class="container sm:grid grid-cols-12 sm:gap-x-[1.125rem] pt-20 sm:pt-[12.5rem]"
  >
    <div class="col-span-10 col-start-2">
      <h2
        class="text-27sb sm:text-48m text-be-10 mb-10 sm:mb-16 sm:text-center"
      >
        <span class="sm:text-[#AAACC4]"
          >Готовы ответить <br class="sm:hidden" />
          на</span
        >
        любые вопросы - спрашивайте
      </h2>
      <form action="" class="form footer-form">
        <div
          class="flex flex-col gap-y-8 gap-x-[1.125rem] lg:flex-row form__inputs"
        >
          <label class="input input--name hovered-line-anim">
            <span class="input__title">Имя</span>
            <input class="input__item text-17" type="text" />
          </label>
          <label class="input input--phone hovered-line-anim">
            <span class="input__title">Телефон</span>
            <input class="input__item text-17" type="text" />
          </label>
          <label class="input input--email hovered-line-anim">
            <span class="input__title">Эл. адрес</span>
            <input class="input__item text-17" type="text" />
          </label>
          <label class="input input--comment hovered-line-anim">
            <span class="input__title">Комментарий</span>
            <input class="input__item text-17" type="text" />
          </label>
        </div>
        <div
          class="lg:flex justify-center items-center gap-10 mt-[3.75rem] lg:mt-[1.875rem]"
        >
          <label class="custom-checkbox form__politic">
            <input type="checkbox" class="custom-checkbox__inp" />
            <span class="custom-checkbox__checkbox"></span>
            <p class="text-[#AAACC4] custom-checkbox__text lg:max-w-[20.5rem]">
              Нажимая “Отправить”
              <a href="#" class="text-be-10"
                >вы соглашаетесь <br />с обработкой персональных данных</a
              >
            </p>
          </label>
          <button
            type="submit"
            class="button button--primary mt-4 lg:mt-0 w-full lg:w-[14.125rem] form__submit"
          >
            <span>Спросить</span>
          </button>
        </div>
      </form>
    </div>
  </section>
</div>
