@import url(./tailwind.css);
@import url(./locomotive.css);

:root {
  --scale-text-rem: 1rem;
  --header: 5.625rem;
}

html {
  font-size: 16px;
}

html,
body {
  @apply !font-manrope text-bk-8;
}

html.has-scroll-smooth,
html.has-scroll-smooth body {
  width: 100vw;
  height: 100vh;
}

.page:not(.activity) {
  @apply bg-w10;
  width: 100%;
  overflow-x: hidden;
}

@screen scaleMedia {
  html {
    font-size: max(13px, min(16px, calc(13px + 5 * ((100vw - 640px) / 1280))));
  }
}

@screen sm {
  :root {
    --header: 7.3125rem;
  }
}

/* SCROLLBAR */

.c-scrollbar {
  @apply bg-bk-2;
  width: 6px;
  z-index: 13;
}

.c-scrollbar_thumb {
  @apply bg-bk-8;
  margin: 0;
  opacity: 1;
  width: 6px;
}

/* SCROLLBAR END */

.header {
  transition-property: color, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  height: var(--header);
  z-index: 12;
}

.header.scroll {
  @apply bg-w10;
  box-shadow: 0 20px 40px 0 rgba(96, 110, 163, 0.15);
}

.footer {
  padding-top: 12.5rem;
  padding-bottom: 1.25rem;
  margin-top: auto;
}

@screen sm {
  .footer {
    padding-bottom: 1.5rem;
  }
}

.main-scroll {
  /* padding-top: var(--header); */
  display: flex;
  flex-direction: column;
}

.btn {
  @apply h-fit;
}

.button {
  @apply transition-colors flex items-center justify-center text-15m sm:text-17m border border-solid;
  --py: 0.5625rem;
  --px: 1.4375rem;
  border-color: transparent;
  padding: var(--py) var(--px);
  border-radius: 38px;
  overflow: hidden;
  position: relative;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

@screen sm {
  .button {
    --py: 0.875rem;
  }
}

.button:not(
    .button--tertiary,
    .button--ghost,
    .button--link,
    .disabled,
    :disabled
  )::before,
.button:not(
    .button--tertiary,
    .button--ghost,
    .button--link,
    .disabled,
    :disabled
  )::after {
  @apply bg-be-9;
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  height: 100%;
}

.button--big::before,
.button--big::after {
  @apply !bg-w10;
}

.button--primary {
  @apply bg-be-6 text-w10 relative border-0;
  --py: 0.625rem;
  --px: 1.5rem;
}

@screen sm {
  .button--primary {
    --py: 0.9375rem;
  }
}

.button--secondary {
  @apply bg-be-10 text-w10 border-be-10 relative hover:border-be-8 active:border-be-8 focus:border-be-8;
}

.button--secondary::after,
.button--secondary::before {
  @apply !bg-be-8;
}

.button:not(
    .button--tertiary,
    .button--ghost,
    .button--link,
    .disabled,
    :disabled
  )::before {
  content: "";
  width: 120%;
  height: 0;
  padding-bottom: calc(var(--py) * 7);
  top: -30%;
  left: -10%;
  border-radius: 50%;
  transform: translate3d(0, 68%, 0) scale3d(0, 0, 0);
}

.button.button--big:before {
  top: -50%;
}

.button:not(
    .button--tertiary,
    .button--ghost,
    .button--link,
    .disabled,
    :disabled
  )::after {
  content: "";
  transform: translate3d(0, -100%, 0);
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
}

.button:not(
    .button--tertiary,
    .button--ghost,
    .button--link,
    .disabled,
    :disabled
  ):focus::before,
.button:not(
    .button--tertiary,
    .button--ghost,
    .button--link,
    .disabled,
    :disabled
  ):focus::after,
.button:not(
    .button--tertiary,
    .button--ghost,
    .button--link,
    .disabled,
    :disabled
  ):active::before,
.button:not(
    .button--tertiary,
    .button--ghost,
    .button--link,
    .disabled,
    :disabled
  ):active::after {
  @apply !bg-be-10;
}

.button:not(
    .button--tertiary,
    .button--ghost,
    .button--link,
    .disabled,
    :disabled
  ):focus::before,
.button:not(
    .button--tertiary,
    .button--ghost,
    .button--link,
    .disabled,
    :disabled
  ):active::before,
.button:not(
    .button--tertiary,
    .button--ghost,
    .button--link,
    .disabled,
    :disabled
  ):hover::before {
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
}

.button:not(
    .button--tertiary,
    .button--ghost,
    .button--link,
    .disabled,
    :disabled
  ):focus::after,
.button:not(
    .button--tertiary,
    .button--ghost,
    .button--link,
    .disabled,
    :disabled
  ):active::after,
.button:not(
    .button--tertiary,
    .button--ghost,
    .button--link,
    .disabled,
    :disabled
  ):hover::after {
  transform: translate3d(0, 0, 0);
  transition-duration: 0.05s;
  transition-delay: 0.4s;
  transition-timing-function: linear;
}

.button:not(
    .button--tertiary,
    .button--ghost,
    .button--link,
    .disabled,
    :disabled
  )
  span {
  position: relative;
  z-index: 10;
}

.button--tertiary {
  @apply border-be-4 text-be-6 hover:text-be-8 hover:border-be-6 w-fit;
}

.button.disabled,
.button:disabled {
  @apply border-bk-2 text-bk-3 cursor-default;
}

.button--primary.disabled,
.button--primary:disabled {
  @apply bg-bk-2;
}

.button--big {
  @apply w-auto text-17m sm:text-24m relative rounded-extrasmall sm:rounded-small bg-be-6 text-w10 border-none hover:text-be-6  focus:text-w10  active:text-w10;
  --py: 1.125rem;
  --px: 1.4375rem;
}

@screen sm {
  .button--big {
    --py: 1.75rem;
  }
}

.grid-net {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

@screen sm {
  .grid-net {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: 1.125rem;
    row-gap: 1.5rem;
  }
}

.grid-net__el {
  @apply rounded-small p-4 sm:p-[2.625rem] flex flex-col justify-between;
  height: 262px;
}

@screen sm {
  .grid-net__el {
    grid-column: span 6 / span 6;
    height: 32.3125rem;
  }
}

.grid-net__el__title {
  @apply text-20sb sm:text-40sb mb-4 sm:mb-10 text-be-10;
}

.grid-net__el__inf {
  @apply text-14 sm:text-20m text-bk-8;
}

@screen sm {
  .grid-net__el:nth-child(odd):last-child {
    height: 27.75rem;
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.hovered-line-anim {
  position: relative;
}

.hovered-line-anim::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  @apply bg-bk-7;

  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.32, 0.94, 0.6, 1);
  border-radius: 10px;
}

.hovered-line-anim::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  @apply bg-bk-4;

  transform-origin: left;
  transform: scaleX(1);
  border-radius: 10px;
}

.hovered-line-anim.active::after {
  transform: scaleX(1);
}

/* INPUTS */

.custom-checkbox {
  @apply sm:items-center;
  display: flex;
  cursor: pointer;
}

.custom-checkbox__inp {
  visibility: hidden;
  width: 0;
  height: 0;
}

.custom-checkbox__checkbox {
  @apply border-2 border-solid border-be-10 relative flex items-center justify-center;
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 50%;
}

.custom-checkbox__checkbox::before {
  @apply bg-be-6 transition-opacity;
  content: "";
  width: 0.8125rem;
  height: 0.8125rem;
  border-radius: 50%;
  opacity: 0;
}

.custom-checkbox__inp:checked + .custom-checkbox__checkbox::before {
  opacity: 1;
}

.custom-checkbox__text {
  @apply ml-2 sm:ml-4 text-13m sm:text-17m flex-1;
}

.input {
  display: flex;
  flex-direction: column;
  padding-top: 1.25rem;
  position: relative;
  cursor: default;
  height: fit-content;
}

.input.isTextarea {
  --plusheight: 1.411764705882353em;
}

textarea {
  height: calc(0.75rem + var(--plusheight));
  overflow: hidden;
  overflow-wrap: break-word;
  resize: none;
}

textarea,
pre {
  -moz-tab-size: 0;
  -o-tab-size: 0;
  -webkit-tab-size: 0;
  tab-size: 0;
}

.input input,
.input textarea {
  @apply transition-colors outline-none text-bk-10;
  padding-bottom: 0.75rem;
}

.input__title {
  transition: font-size cubic-bezier(0.4, 0, 0.2, 1),
    color cubic-bezier(0.4, 0, 0.2, 1), top cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  position: absolute;
  top: 1.25rem;
  left: 0;
  cursor: text;
  @apply text-17 text-bk-4;
}

.input__title span {
  /* @apply text-black-20; */
}

.input.active .input__title {
  top: 0;
  cursor: default;
  @apply text-13m text-bk-5;
}

.input.error .input__title {
  @apply text-r-6;
}

.input.error .text-error {
  @apply text-13m text-r-6;
}

/* INPUTS END */

/* FORM */

@screen lg {
  .footer-form.form {
  }
  .footer-form .form__inputs .input {
    flex: 1 1 0%;
  }

  .footer-form .form__politic {
    grid-column: span 2;
  }

  .footer-form .form__submit {
    grid-row-start: 1;
    grid-column-start: 2;
  }
}

/* FORM END */

/* LIST */

.list__el {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 17px;
}

.list__el:not(:last-child)::before {
  @apply bg-be-10 absolute;
  content: "";
  top: 1px;
  bottom: 0;
  left: 12.5px;
  width: 1px;
}

.list__el__count {
  @apply text-15m flex items-center justify-center bg-be-10 text-w10 relative;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.list__el__title {
  @apply text-20m mb-6 text-be-10;
}

.list__el__desc {
  @apply text-14 text-bk-8;
  margin-bottom: 64px;
  grid-column: 2 / span 1;
}

.list__el:last-child .list__el__desc {
  margin-bottom: 0;
}

@screen sm {
  .list {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: 1.125rem;
    row-gap: 6.25rem;
  }

  .list__el {
    display: block;
    grid-column: span 5 / span 5;
  }

  .list__el:nth-child(even) {
    grid-column-start: 7;
  }

  .list__el:not(:last-child)::before {
    content: none;
  }

  .list__el__count {
    @apply text-24sb;
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .list__el__title {
    @apply text-32sb;
  }

  .list__el__desc {
    @apply text-17m;
    margin-bottom: 0;
  }
}

/* LIST END */

/* PARTNERS */

.line-scroll-left,
.line-scroll-right {
  @apply h-full w-fit absolute top-0 left-0;
}

.line-scroll__wrapper {
  @apply h-full w-fit;
}

.line-scroll-left__wrapper {
  animation: lineScrollRight 100s infinite linear;
}

.line-scroll-right {
  @apply flex justify-end left-auto right-0;
}

.line-scroll-right__wrapper {
  animation: lineScrollLeft 100s infinite linear;
}

.line-scroll__cont {
  @apply flex gap-x-12 sm:gap-x-20 items-center h-full w-fit relative;
}

.line-scroll__cont a {
  @apply block h-full min-w-[84px] sm:min-w-[187px] max-w-[84px] sm:max-w-[187px] w-full;
}

.line-scroll__cont a img {
  @apply aspect-[84/57] sm:aspect-[187/125] w-auto h-full invert;
}

@keyframes lineScrollLeft {
  0% {
    transform: translateX(0%);
    animation-timing-function: linear;
  }

  100% {
    transform: translateX(50%);
  }
}

@keyframes lineScrollRight {
  0% {
    transform: translateX(0%);
    animation-timing-function: linear;
  }

  100% {
    transform: translateX(-50%);
  }
}

/* PARTNERS END */

.welcome-block {
  @apply bg-dc-3 !w-full;
  height: 519px;
  background-image: url("https://edu.svet-expert.com/include/landing/img/welcome--mob.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

@screen sm {
  .welcome-block {
    height: 21.875rem;
    background-image: url("https://edu.svet-expert.com/include/landing/img/welcome-whi8h74V.jpg");
    background-size: cover;
  }
}

/* PAGINATION */

.slider-pag {
  bottom: 14px;
  position: absolute;
  left: 24px;
  right: 24px;
  z-index: 1;
}

.slider-pag__container {
  position: static;
  display: flex;
  gap: 2px;
}

.slider-pag__container .swiper-pagination-bullet {
  flex: 1 1 0%;
  height: 2px;
  cursor: pointer;
  width: auto;
  margin: 0 !important;
  border-radius: 7px;
  opacity: 0.3;
  background: #fff;
}

.slider-pag__container
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

.slider-buttons {
  display: flex;
  gap: 0.75rem;
}

.slider-button {
  transform: none;
  margin: 0;
  position: static;
  @apply border border-solid border-[#AAACC4] transition-colors  w-fit cursor-pointer;
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 0.6875rem;
  height: auto;
  border-radius: 50%;
}

.slider-button--v2 {
  @apply border-dc-3 bg-dc-3;
}

.slider-button::before,
.slider-button::after {
  content: none;
}

.slider-button svg {
  @apply w-6 h-6;
}

.slider-button--mob svg {
  @apply w-4 h-4;
}

.slider-button--mob {
  padding: 0.5rem;
}

.slider--v2__pag {
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: static;
  transform: none;
  width: fit-content !important;
}

.slider--v2__pag .swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  border-radius: 50% !important;
  background-color: #fff;
  margin: 0 !important;
}

.slider--v2__pag .swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-be-6;
  margin: 0;
}

.portfolio-desc__slide {
  display: none;
}

.portfolio-desc__slide.active {
  display: block;
}

.portfolio {
  @apply sm:grid-cols-12;
}

.portfolio .portfolio-desc {
  @apply col-start-8 col-span-5;
}

.portfolio .portfolio-slider {
  @apply col-span-7 row-start-1;
}

.product-page .portfolio-desc {
  @apply sm:p-6 sm:pr-[3.9375rem] sm:rounded-[1.5rem] sm:bg-be-1;
}

#productPageElem {
  @apply gap-20 sm:gap-[12.5rem];
}

#productPageElem .main-subdesk {
  max-width: 53.625rem;
}

#productPageElem .just-desk {
  max-width: 40.875rem;
}

.product-modal .portfolio {
  @apply sm:grid-cols-8;
}

.product-modal .portfolio .portfolio-desc {
  @apply col-start-6 col-span-3;
}

.product-modal .portfolio .portfolio-slider {
  @apply col-span-5 row-start-1;
}

.product-modal #productPageElem {
  @apply sm:gap-[8.75rem];
}

.product-modal .sm\:text-56sb {
  @apply text-40sb;
}

.product-modal .sm\:text-40sb {
  @apply text-32sb;
}

.product-modal.loading .modal__wrapper {
  overflow: hidden;
}

.skeleton {
  @apply flex flex-col gap-20 sm:gap-[8.75rem];
}

.skeleton-heading,
.skeleton-text span,
.skeleton-drop-list div,
.skeleton-big-button {
  background-color: #ccc;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
}

.skeleton-heading::after,
.skeleton-text span::after,
.skeleton-drop-list div::after,
.skeleton-big-button::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  animation: shimmer 4s linear infinite;
  content: "";
  z-index: 1;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.skeleton-heading {
  @apply h-[35.2px] sm:h-[2.1875rem] w-[30%] mb-4 sm:mb-6;
}

.skeleton-main-heading {
  @apply h-[32.4px] sm:h-[2.75rem] w-[50%] mb-6 sm:mb-10;
}

.skeleton-text {
  max-width: 40.875rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 72px;
}

.skeleton-text span {
  display: block;
  height: 17px;
}

.skeleton-main-text {
  max-width: 53.625rem;
  height: 174px;
}

.skeleton-main-text span {
  height: 20px;
}

.skeleton-text span:last-child {
  width: 40%;
}

.skeleton-drop-list {
  @apply flex gap-2 flex-col sm:gap-1;
}

.skeleton-drop-list div {
  @apply h-[3.5rem] sm:h-[4.5rem];
}

.skeleton-big-button {
  @apply h-[3.75rem] sm:h-[5rem] mt-3 sm:mt-8;
  border-radius: 1.5rem;
}

.product-modal:not(.loading) .skeleton {
  display: none;
}

.for-who {
  grid-template-columns: repeat(auto-fit, minmax(26.8125rem, 1fr));
}

.reels .swiper-pagination-bullet {
  background-color: rgba(244, 247, 255, 0.3);
  opacity: 1;
  position: relative;
  display: block;
  cursor: default;
}

.reels .swiper-pagination-bullet::before {
  @apply transition;
  content: "";
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 100%;
  border-radius: 7px;
}

.reels .swiper-pagination-bullet-active.swiper-pagination-bullet::before {
  animation: reels;
  animation-timing-function: linear;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
}

@keyframes reels {
  0% {
    right: 100%;
  }
  100% {
    right: 0;
  }
}

@screen sm {
  .slider-pag {
    @apply bottom-6 grid grid-cols-6 gap-cols;
  }

  .slider-pag__container {
    @apply col-span-4 col-start-2;
    gap: 3px;
  }

  .slider-pag__container .swiper-pagination-bullet {
    height: 3px;
  }
}

/* PAGINATION END */

/* employument */

#employument .swiper-slide {
  @apply rounded-big sm:rounded-small bg-dc-3 p-4  sm:p-5 w-[16.375rem] sm:w-[33.875rem] h-auto;
}

/* employument END */

/* teachers */

.teachers-slide {
  @apply rounded-big sm:rounded-small bg-cover bg-center bg-no-repeat relative overflow-visible transition-all;
  background-image: var(--bg);

  width: 236px;
  min-height: 280px;
  height: auto;
}

@screen sm {
  .teachers-slide {
    width: auto;
    height: 22.375rem;
  }
}

.teachers-slide__button {
  @apply flex p-2 bg-w10 items-center justify-center w-fit h-fit absolute right-4 top-4 sm:top-6 sm:right-6 z-30 sm:z-10;
  border-radius: 50%;
}

.teachers-slide__button::before {
  content: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18 12H11.9667L6 12" stroke="%23061143" stroke-width="1.4" stroke-linecap="round"/><path d="M12 6V12V18" stroke="%23061143" stroke-width="1.4" stroke-linecap="round"/></svg>');
  @apply w-4 h-4 sm:w-6 sm:h-6 transition-all;
}

.teachers-slide__info {
  @apply rounded-big sm:rounded-small  absolute sm:top-6 sm:right-6 z-20 transition-all overflow-hidden opacity-0;
  top: 1rem;
  right: 1rem;
  left: 188px;
  bottom: 232px;
  padding: 16px 16px 0;
}

.teachers-slide__info__img {
  @apply bg-cover bg-center bg-no-repeat;
  background-image: var(--bg);
  border-radius: 18px;
  width: 90px;
  height: 76px;
  margin-bottom: 12px;
}

.teachers-slide__info__title {
  @apply text-be-10 text-17m sm:text-20m mb-[3px] sm:mb-[5px];
}

.teachers-slide__info__subtitle {
  @apply text-10sb sm:text-14  sm:mb-0;
  /* mb-[34px] */
}

.teachers-slide__info__desk {
  @apply max-h-[150px] overflow-auto scrollbar-hide sm:max-h-[15.125rem] h-full;
}

.teachers-slide__info__cotnainer {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.teachers-slide__info__desk::before,
.teachers-slide__info__desk::after {
  pointer-events: none;
  content: "";
  left: 0;
  right: 0;
  position: absolute;
  height: 37px;
  transform: rotate(180deg);
  background: linear-gradient(
    180deg,
    rgba(244, 247, 255, 0) 15.22%,
    #f4f7ff 90.58%
  );
}

.teachers-slide__info__desk::before {
  /* top: 0; */
}

.teachers-slide__info__desk::after {
  transform: rotate(0);
  bottom: 0;
}

.teachers-slide__info__desk {
  /* position: relative; */
  /* @apply py-[37px] sm:pt-[6.0625rem] sm:pb-[4.3125rem]; */
}

.teachers-slide__info__desk p {
  @apply text-14 my-[37px] sm:mt-[6.0625rem] sm:mb-[2rem];
}

@screen smMax {
  .teachers-slide.active {
    height: 339px;
  }

  .teachers-slide.active .teachers-slide__button::before {
    @apply rotate-45;
  }

  .teachers-slide.active .teachers-slide__info {
    @apply bg-dc-3;
    opacity: 1;
    top: -1px;
    right: -1px;
    left: -1px;
    bottom: -1px;
  }
}

@screen sm {
  .teachers-slide__info:hover,
  .teachers-slide:hover .teachers-slide__info {
    @apply bg-dc-3;
    opacity: 1;
    top: -1px;
    right: -1px;
    left: -1px;
    bottom: -1px;
  }

  .teachers-slide__info__heading {
    display: flex;
    gap: 1.25rem;
  }
  .teachers-slide__info__heading > div:last-child {
    flex: 1 1 0%;
  }

  .teachers-slide__info__desk::before {
    height: 6.0625rem;
  }

  .teachers-slide__info__desk::after {
    height: 4.3125rem;
  }

  .teachers-slide__info__img {
    border-radius: 0.5rem;
    width: 5.0625rem;
    height: 4.25rem;
    margin-bottom: 0;
  }
}

/* teachers END */

/* MODALS */

.isSomethinOpened {
  overflow: hidden;
}

.modal {
  @apply transition-colors duration-500;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

.modal__close {
  @apply rounded-full bg-dc-3 p-[7.27px] sm:p-[0.625rem]  transition-colors absolute right-5 top-6 sm:right-10 sm:top-[3.125rem];
}

.modal__close svg {
  @apply w-[18px] h-[18px] sm:w-6 sm:h-6 transition-colors;
  stroke: #061143;
}

.modal__wrapper {
  @apply scrollbar-hide pb-8 sm:pb-10 w-full;
  overflow: auto;
}

@screen sm {
  .modal__close:hover {
    @apply bg-be-6;
  }

  .modal__close:hover svg {
    stroke: #f4f7ff;
  }
}

.modal__container {
  @apply bg-w10;
  border-radius: 24px 24px 0px 0px;
  transition: transform 0.9s cubic-bezier(0.77, 0, 0.175, 1);
}

.modal--right {
  @apply pt-[3.125rem] sm:pt-0 flex items-end sm:justify-end;
}

.modal--right .modal__container {
  position: relative;
  height: 100%;
  display: flex;
  @apply px-5 pt-20 sm:px-10 sm:pt-36 max-h-[650px] sm:max-h-full  w-full;
  transform: translateY(100%);
}

.product-modal .modal__container {
  @apply max-h-full;
}

.form-success.modal--right .modal__container {
  @apply h-fit sm:h-full;
}

.form-success .nonSuccessForm {
  display: none;
}

.modal:not(.form-success) .SuccessForm {
  display: none;
}

.modal.opened {
  z-index: 20;
}

.modal.show .modal__container {
  transform: translate(0);
}

.modal.show {
  @apply bg-mb;
}

@screen sm {
  .modal__container {
    border-radius: 0;
  }

  .modal--right .modal__container {
    max-width: 52.4375rem;
    transform: translateX(100%);
  }

  .modal--right.product-modal .modal__container {
    max-width: 66.4375rem;
  }
}

/* MODALS END */

/* DROPDOWNS */

.drop-down__open {
  @apply bg-dc-3 py-3 px-4 sm:p-4 w-full transition-all cursor-pointer duration-500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.drop-down__title {
  @apply text-17m sm:text-20m;
}

.drop-down__open span {
  @apply bg-w10 w-8 h-8 sm:w-10 sm:h-10 relative;
  border-radius: 50%;
}

.drop-down__open span::before,
.drop-down__open span::after {
  @apply w-3 h-[2px] bg-be-10 rounded-2xl -translate-x-1/2 -translate-y-1/2;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
}

.drop-down__open span::after {
  @apply rotate-90 transition-all duration-500;
}

.drop-down__container {
  @apply transition-all duration-500;
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
}

.drop-down__container--2 {
  min-height: 0;
}

.drop-down__container--3 {
  @apply pt-1;
}

.drop-down__container--4 {
  @apply rounded-[11px] sm:rounded-small bg-dc-3 p-[0.625rem] sm:p-3;
}

.drop-down__container--5 {
  @apply rounded-[11px] bg-w10 p-2 sm:p-4 text-13 sm:text-17m;
}

.drop-down.active .drop-down__open {
  @apply rounded-t-[11px] sm:rounded-t-small;
}

.drop-down.active .drop-down__container {
  grid-template-rows: 1fr;
}

.drop-down.active .drop-down__open span::after {
  width: 0;
}

.privacy-policy p {
  @apply flex gap-x-[4px] sm:gap-x-[6px] mb-4 text-14 sm:text-17;
}

.privacy-policy p span:first-child {
  @apply min-w-[20px] sm:min-w-[32px];
}

.privacy-policy p span:last-child {
  @apply flex-1;
}

.privacy-policy h4 {
  @apply text-24m sm:text-27sb mb-[1.875rem] sm:mb-10 text-be-10;
}
.privacy-policy h4:not(:first-child) {
  @apply mt-[3.75rem] sm:mt-20;
}

@screen sm {
  .p-404a {
    height: calc(100vh - 7.3125rem);
  }
}

/* MOODLE NAVBAR */

:root {
  --moodle-headear: 5.5rem;
}

.navbar.fixed-top {
  height: var(--moodle-headear);
  border-bottom: 0;
  align-items: center;
}

.navbar {
  display: flex;
  padding: 0 0.5rem;
}

#page.drawers {
  margin-top: var(--moodle-headear);
}

.navbar .count-container:not(.hidden) {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50% !important;
  border: 2px solid #fff;
  background: #e71730;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 25px;
}

.navbar.fixed-top #usernavigation .nav-link {
  padding: 0 0.75rem;
}

.navbar-expand .navbar-nav .nav-link {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

#user-menu-toggle {
  margin: 0;
  padding-right: 0 !important;
}

.navbar-nav {
  @apply text-17m;
  margin-left: auto;
}

.userinitials {
  margin-right: 0;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav .nav-item:not(:nth-last-child(2), [data-key="siteadminnode"]) {
  display: none;
}

.navbar-nav .icon {
  @apply w-6 h-6 block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.fa.fa-bell-o {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><g clip-path="url(%23clip0_537_9446)"><path d="M10 5C10 4.46957 10.2107 3.96086 10.5858 3.58579C10.9609 3.21071 11.4696 3 12 3C12.5304 3 13.0391 3.21071 13.4142 3.58579C13.7893 3.96086 14 4.46957 14 5C15.1484 5.54303 16.1274 6.38833 16.8321 7.4453C17.5367 8.50227 17.9404 9.73107 18 11V14C18.0753 14.6217 18.2954 15.2171 18.6428 15.7381C18.9902 16.2592 19.4551 16.6914 20 17H4C4.54494 16.6914 5.00981 16.2592 5.35719 15.7381C5.70457 15.2171 5.92474 14.6217 6 14V11C6.05956 9.73107 6.4633 8.50227 7.16795 7.4453C7.8726 6.38833 8.85159 5.54303 10 5Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M9 17V18C9 18.7956 9.31607 19.5587 9.87868 20.1213C10.4413 20.6839 11.2044 21 12 21C12.7956 21 13.5587 20.6839 14.1213 20.1213C14.6839 19.5587 15 18.7956 15 18V17" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></g><defs><clipPath id="clip0_537_9446"><rect width="24" height="24" fill="white"/></clipPath></defs></svg>');
}

.fa.fa-comment-o {
  background-image: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_537_9447)"><path d="M8 9H16" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M8 13H14" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M18 4C18.7956 4 19.5587 4.31607 20.1213 4.87868C20.6839 5.44129 21 6.20435 21 7V15C21 15.7956 20.6839 16.5587 20.1213 17.1213C19.5587 17.6839 18.7956 18 18 18H13L8 21V18H6C5.20435 18 4.44129 17.6839 3.87868 17.1213C3.31607 16.5587 3 15.7956 3 15V7C3 6.20435 3.31607 5.44129 3.87868 4.87868C4.44129 4.31607 5.20435 4 6 4H18Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></g><defs><clipPath id="clip0_537_9447"><rect width="24" height="24" fill="white"></rect></clipPath></defs></svg>');
}

#user-menu-toggle.dropdown-toggle::after,
.fa.fa-bell-o:before,
.fa.fa-comment-o:before {
  content: none;
}

.navbar-nav.d-none.d-md-flex.my-1.px-1 {
  display: none !important;
}

[data-region="popover-region"] {
  transform: translateX(100%);
}

[data-region="popover-region-messages"] {
  transform: translateX(-100%);
}

[data-region="right-hand-drawer"].drawer {
  top: var(--moodle-headear);
}

.drawer-toggles .drawer-toggler {
  top: calc(var(--moodle-headear) + 0.7rem);
}

#page.drawers .generalbox h5 {
  @apply mb-5;
}

#page.drawers .generalbox p {
  @apply mb-3;
}

.drawer,
.message-app {
  background-color: #fff;
}

.popover-region-toggle::before {
  bottom: -23px;
}

.popover-region-toggle::after {
  bottom: -24px;
}

#page.drawers .generalbox tr,
#page.drawers .generalbox td {
  border-width: 1px;
}

#page.drawers .generalbox ol:not(.vjs-menu-content),
#page.drawers .generalbox ul:not(.vjs-menu-content) {
  @apply pl-10;
}

#page.drawers .generalbox ul:not(.vjs-menu-content) {
  @apply list-disc;
}

#page.drawers .generalbox ol:not(.vjs-menu-content) {
  @apply list-decimal;
}

.activityiconcontainer {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activityiconcontainer.smaller {
  --w: 2rem;
  width: var(--w) !important;
  height: var(--w) !important;
}

.activityiconcontainer img {
  min-width: calc(var(--w) / 2) !important;
  height: calc(var(--w) / 2) !important;
  max-width: calc(var(--w) / 2) !important;
}

@media screen and (min-width: 768px) {
  .navbar-nav {
    margin-left: 0;
  }

  .navbar {
    padding: 0 2.5rem;
  }

  .activity-item .activity-name-area {
    @apply text-17m;
  }

  #page.drawers .generalbox {
    @apply text-17;
  }

  #page.drawers .generalbox .reference {
    @apply text-12;
  }
}

@media (min-width: 992px) {
  .drawer-left,
  .drawer-right {
    top: var(--moodle-headear);
    height: calc(100vh - var(--moodle-headear));
  }
}
